<app-page-header [heading]="'Manage automated trading strategies'" [icon]="'fa-magic'"></app-page-header>
<div class="row">
    <div class="col-xl-12">
        <button class="btn btn-sm btn-info mr-1" (click)="refreshStrategies()"
                [disabled]="isPendingRefresh">
            <i class="fa fa-refresh" [class.is-pending]="isPendingRefresh"></i> Refresh strategies
        </button>
        <button *ngIf="isShowingOnlyActiveStrategies"
                (click)="showAllStrategies()"
                class="btn btn-sm" type="button">
            Show only active <i class="fa fa-toggle-on"></i>
        </button>
        <button *ngIf="!isShowingOnlyActiveStrategies"
                (click)="showOnlyActiveStrategies()"
                class="btn btn-sm" type="button">
            Show only active <i class="fa fa-toggle-off"></i>
        </button>
        <div class="text-muted ml-auto">
            <small>
                Last refresh: {{ (getLastStrategiesRefreshTime() | date: 'y-MM-dd HH:mm:ss') || '-' }}
            </small>
        </div>
    </div>
</div>
<div class="card mb-3 bg-dark" *ngFor="let exchange of getExchangesSupportedForTrading()">
    <div class="card-header">
        <div class="row justify-content-between align-items-center px-2">
            <span>{{ exchange.name }}</span>
            <a *ngIf="isSupportedForTrading(exchange.name)"
               [routerLink]="['/trading-automation/add-strategy-execution', exchange.name]" class="btn btn-success">
                Add strategy
            </a>
            <button *ngIf="!isSupportedForTrading(exchange.name)" class="btn btn-secondary" disabled>
                Add strategy
            </button>
        </div>
    </div>
    <table *ngIf="getStrategiesExecutionsByExchangeName(exchange.name).length > 0"
           class="card-body table table-hover">
        <thead>
        <tr>
            <th>Autocoin user</th>
            <th>Strategy</th>
            <th>Goal</th>
            <th>Status</th>
            <th>Parameters</th>
            <th>Created orders</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let strategyExecution of getStrategiesExecutionsByExchangeName(exchange.name)">
            <td>{{ getExchangeUserNameById(strategyExecution.exchangeUserId) }}</td>
            <td>
                <div>{{ strategyExecution.strategyName }}</div>
                <span class="badge badge-info mr-1">
                    {{ strategyExecution.baseCurrencyCode }}/{{ strategyExecution.counterCurrencyCode }}
                </span>
                <span *ngIf="strategyExecution.startTime"
                      class="badge badge-secondary">
                    Started {{strategyExecution.startTime | date: 'y-MM-dd HH:mm:ss' }}
                </span>
            </td>
            <td>
                {{ strategyExecution.description }}
                <div class="progress">
                    <div class="progress-bar bg-secondary" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                         [ngStyle]="{'width': strategyExecution.percentDone + '%'}"
                         [attr.aria-valuenow]="strategyExecution.percentDone">
                        <span class="progress-value">{{ strategyExecution.percentDone }}%</span>
                    </div>
                </div>
            </td>
            <td>{{ strategyExecution.status }}</td>
            <td>
                <div *ngIf="true; let isShowingParameters = false">
                    <button
                        (click)="isShowingParameters = !isShowingParameters"
                        class="btn btn-sm" type="button">
                        Show <i class="fa" [class.fa-toggle-on]="isShowingParameters"
                                [class.fa-toggle-off]="!isShowingParameters"></i>
                    </button>
                    <div [class.d-none]="!isShowingParameters">
                        <ul>
                            <li *ngFor="let item of  flattenParameters(strategyExecution.strategyParameters) | keyvalue">
                                {{ item.key }}: {{ item.value }}
                            </li>
                        </ul>
                    </div>
                </div>
            </td>
            <td>
                <div *ngIf="strategyExecution.orders.length == 0">-</div>
                <div *ngIf="strategyExecution.orders.length > 0; let isShowingOrders = false">
                    <button
                        (click)="isShowingOrders = !isShowingOrders"
                        class="btn btn-sm" type="button">
                        Show <i class="fa" [class.fa-toggle-on]="isShowingOrders"
                                [class.fa-toggle-off]="!isShowingOrders"></i>
                    </button>
                    <div [class.d-none]="!isShowingOrders">
                        <ul *ngFor="let order of strategyExecution.orders | keyvalue">
                            <li>
                                {{ order.key }}: {{ order.value }}
                            </li>
                        </ul>
                    </div>
                </div>

            </td>
            <td>
                <button *ngIf="strategyExecution.status === 'ACTIVE'"
                        (click)="deleteStrategyExecution(strategyExecution)"
                        class="btn btn-danger">
                    Delete
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
