<div class="card text-white bg-success m-2">
    <div class="card-header">
        <span class="badge badge-light mr-1">
            <i class="fa fa-exchange mr-1"></i>
            {{twoLegArbitrageProfitStatistic.baseCurrency}}/{{twoLegArbitrageProfitStatistic.counterCurrency}}
        </span>
        <span class="badge badge-light mr-1">
            average {{twoLegArbitrageProfitStatistic.averageProfitPercent}}%
        </span>
        <span class="badge badge-light mr-1">
            {{twoLegArbitrageProfitStatistic.firstExchange}}
        </span>
        <span class="badge badge-light">
            {{twoLegArbitrageProfitStatistic.secondExchange}}
        </span>
    </div>
    <div class="card-body pt-0 pb-0" [@myAnimation]="slide">
        <div *ngIf="showDetails" class="pt-3 pb-3">
            <div class="row">
                <ul>
                    <li>
                        Min profit: {{twoLegArbitrageProfitStatistic.minProfitPercent}}%
                    </li>
                    <li>
                        Max profit: {{twoLegArbitrageProfitStatistic.maxProfitPercent}}%
                    </li>
                    <li>
                        Min 24h volume: ${{twoLegArbitrageProfitStatistic.minUsd24hVolume}}
                    </li>
                    <li *ngIf="firstExchangeLink != null">
                        <a [href]="firstExchangeLink"
                           target="_blank">
                            Open {{twoLegArbitrageProfitStatistic.firstExchange}}
                        </a>
                    </li>
                    <li *ngIf="secondExchangeLink != null">
                        <a [href]="secondExchangeLink" target="_blank">
                            Open {{twoLegArbitrageProfitStatistic.secondExchange}}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="row">
                Opportunities count checked every 10s
                <ul class="chart">
                    <li *ngFor="let profitOpportunityCountChartBar of toChartBar(twoLegArbitrageProfitStatistic.profitOpportunityHistogram)">
                        <span [style.height]="profitOpportunityCountChartBar.heightPercent + '%'"
                              [title]="'>'+profitOpportunityCountChartBar.profitPercentThreshold+'%'">
                            <span class="value">{{profitOpportunityCountChartBar.count}}</span>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div (click)="toggleDetailsVisibility()"
         class="card-footer toggle-details-visibility">
        <span>
                <i *ngIf="showDetails" class="fa fa-angle-double-up"></i>
                <i *ngIf="!showDetails" class="fa fa-angle-double-down"></i>
                Details
        </span>
    </div>
</div>
