<div class="card text-white bg-{{exchangeHealth.isHealthy === true? 'success' : 'danger'}} m-2">
    <div class="card-header">
        <div class="flex-row">
            <div class="d-block"><i class="fa fa-heartbeat"></i> {{exchangeHealth.exchangeName}}</div>
        </div>
    </div>
    <div class="card-body pt-0 pb-0" [@myAnimation]="slide">
        <div class="pt-3 pb-3">
            <ul>
                <li *ngFor="let item of exchangeHealth.details | keyvalue">
                    {{item.key}}: {{item.value === true ? 'OK' : item.value === false ? 'Bad' : 'Unknown'}}
                </li>
            </ul>
            <div>Last check: {{exchangeHealth.timestamp | date: 'y-MM-dd HH:mm:ss' }}</div>
        </div>
    </div>
    <div class="card-footer">
        <span (click)="toggleDetailsVisibility()" class="toggle-details-visibility">
                <i *ngIf="showDetails" class="fa fa-angle-double-up"></i>
                <i *ngIf="!showDetails" class="fa fa-angle-double-down"></i>
                Details
        </span>
    </div>
</div>
