<div [@routerTransition]>
    <app-page-header [heading]="'Edit user'" [icon]="'fa-user'" [parents]="[ { heading: 'Users', link: '/users', icon: 'users' } ]"></app-page-header>
    
    <form (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-6">
                <fieldset class="form-group">
                    <label>Username</label>
                    <input class="form-control" [(ngModel)]="user.userName" name="userName">
                </fieldset>

                <button type="submit" class="btn btn-primary">Save</button>
            </div>
            <div class="col-md-6">
                <ngb-accordion [closeOthers]="true">
                    <ngb-panel [title]="market.label" *ngFor="let market of markets">
                        <ng-template ngbPanelContent>
                            <fieldset class="form-group">
                                <label>Secret Key</label>
                                <input class="form-control" [(ngModel)]="user.getExchangeKeysForMarket(market.name).secretKey" [name]="market.name + '-secret-key'">
                            </fieldset>
            
                            <fieldset class="form-group">
                                <label>Public Key</label>
                                <input class="form-control" [(ngModel)]="user.getExchangeKeysForMarket(market.name).publicKey" [name]="market.name + '-public-key'">
                            </fieldset>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </div>
        </div>
    </form>
</div>
  