<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label for="maxBuyPrice">Max buy price</label>
            <input name="maxBuyPrice"
                   class="form-control"
                   type="text"
                   required
                   pattern="^\s*(?=.*[1-9])\d*(?:\.\d{1,8})?\s*$"
                   [class.is-invalid]="maxBuyPriceInput.invalid
                                && (maxBuyPriceInput.dirty
                                || maxBuyPriceInput.touched)"
                   [(ngModel)]="strategySpecificParameters.maxBuyPrice"
                   #maxBuyPriceInput="ngModel"
                   (input)="onMaxBuyPrice($event.target)">
            <div class="invalid-feedback">
                Provide valid price, eg. 1.00045 (max 8 decimal places)
            </div>
        </div>
    </div>
</div>
