<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-5 col-xl-4">
            <h1>Forgot your password?</h1>
            <ng-container *ngIf="isEmailFormVisible">
                <form ngForm
                      role="form"
                      (ngSubmit)="onSubmit(resetPasswordForm)"
                      #resetPasswordForm="ngForm">
                    <div class="form-content">
                        <div>
                            <div class="form-group">
                                <input [(ngModel)]="email"
                                       type="text"
                                       name="email"
                                       autofocus
                                       class="form-control input-underline input-lg"
                                       id="email"
                                       placeholder="Email"
                                       required
                                       email>
                            </div>
                        </div>
                    </div>
                    <button type="submit"
                            class="btn rounded-btn"
                            [disabled]="resetPasswordForm.invalid">
                        Reset my password
                    </button>
                    <a class="btn register rounded-btn"
                       [routerLink]="['/login']">
                        Go back to login screen
                    </a>
                </form>
            </ng-container>
            <ng-container *ngIf="isNextStepVisible">
                <p>
                    Please check your email, you should get message with link to reset your password.  If you can't find the email, check the spam folder
                </p>
                <a class="btn register rounded-btn" [routerLink]="['/login']">
                    Go back to login screen
                </a>
            </ng-container>
        </div>
    </div>
</div>
