<div [@routerTransition]>
    <app-page-header [heading]="'Wallets'" [icon]="'fa-money'"></app-page-header>
    <div class="card mb-3">
        <button class="btn btn-info" (click)="fetchPrices()" [disabled]="pendingPriceRefresh">
            <i class="fa fa-refresh" [class.is-pending]="pendingPriceRefresh"></i> Refresh prices
        </button>
        <p>Last prices refresh: {{ getLastPriceRefreshTime() | date: 'y-MM-dd HH:mm:ss' || '-' }}</p>
    </div>
    <ng-container *ngIf="!pendingPriceRefresh">
        <div *ngFor="let client of clients" class="card mb-3">
            <h3>{{ client.name }}</h3>
            <button class="btn btn-info" (click)="fetchExchangeBalancesForClient(client)" [disabled]="pending">
                <i class="fa fa-refresh" [class.is-pending]="pending"></i> Refresh amounts
            </button>
            <p>Last refresh: {{ getLastClientWalletRefreshTime(client) | date: 'y-MM-dd HH:mm:ss' || '-' }}</p>
            <p><i class="fa fa-btc"></i> Total BTC: {{ getTotalClientBtcValue(client) | number : '1.8' || '-' }}</p>
            <p><i class="fa fa-usd"></i> Total USD: {{ getTotalClientUsdValue(client) | number : '1.2' || '-' }}</p>
            <ng-container *ngFor="let exchangeBalance of exchangeBalancesForClient(client)">
                <h4>{{ exchangeBalance.exchangeName }}</h4>
                <span *ngIf="exchangeBalance.errorMessage != null" class="badge badge-warning">
                    {{ exchangeBalance.errorMessage }}
                </span>
                <span *ngIf="exchangeBalance.currencyBalances.length == 0 && exchangeBalance.errorMessage == null"
                      class="badge badge-secondary">No currencies hold</span>
                <table *ngIf="exchangeBalance.currencyBalances.length > 0 && exchangeBalance.errorMessage == null"
                       class="card-body table table-hover">
                    <thead>
                    <tr>
                        <th>Currency</th>
                        <th>Available amount</th>
                        <th>BTC value</th>
                        <th>USD value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let currencyBalance of exchangeBalance.currencyBalances">
                        <td>{{ currencyBalance.currencyCode }}</td>
                        <td>{{ currencyBalance.available }}</td>
                        <td>{{ getBtcValue(currencyBalance) | number : '1.8' || '-' }}</td>
                        <td>{{ getUsdValue(currencyBalance) | number : '1.2' || '-' }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="font-weight-bold">
                            {{ getTotalExchangeBtcValue(exchangeBalance) | number : '1.8' }}
                        </td>
                        <td class="font-weight-bold">
                            {{ getTotalExchangeUsdValue(exchangeBalance) | number : '1.2' }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </ng-container>
        </div>
    </ng-container>
</div>
