<div [@routerTransition]>
    <app-page-header [heading]="'Wallets'" [icon]="'fa-money'"></app-page-header>
    <div class="card mb-3">
        <table class="card-body table table-hover">
            <thead>
            <tr>
                <th>Client</th>
                <th>Exchange</th>
                <th>Currency</th>
                <th>Available amount</th>
                <th>When refreshed</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let client of clients">
                <tr>
                    <th colspan="10">
                        <button (click)="fetchExchangeBalancesForClient(client)"><i class="fa fa-trash-o"></i>Refresh</button>
                    </th>
                    <th colspan="10">{{ client.name }}</th>
                    <th colspan="10">Last refresh: {{ getLastRefreshTime(client) | date: 'y-MM-dd HH:mm:ss' || '-' }}</th>
                </tr>
                <tr *ngFor="let exchangeBalance of exchangeBalancesForClient(client)">

                    <th>{{ exchangeBalance.exchangeName }}</th>
                    <td *ngIf="exchangeBalance.errorMessage != null">{{ exchangeBalance.errorMessage }}</td>
                    <td *ngIf="exchangeBalance.errorMessage == null">{{ exchangeBalance.currencyCode }}</td>
                    <td *ngIf="exchangeBalance.errorMessage == null">{{ exchangeBalance.available }}</td>
                </tr>
            </ng-container>
            </tbody>
        </table>
    </div>
</div>
