<ng-template #content let-c="close" let-d="dismiss">
    <div *ngIf="header != null" class="modal-header">
        <h4 class="modal-title">{{header}}</h4>
    </div>
    <div class="modal-body">
        {{text}}
    </div>
    <div class="modal-footer">
        <button *ngIf="isCloseButtonVisible" type="button" class="btn btn-primary" (click)="c('close')">Close</button>
        <button *ngIf="isYesButtonVisible" type="button" class="btn btn-danger" (click)="c('yes')">Yes</button>
        <button *ngIf="isNoButtonVisible" type="button" class="btn btn-secondary" (click)="d('Dismiss')">No</button>
    </div>
</ng-template>
