<app-balances-menu></app-balances-menu>
<div class="row">
    <div class="col-12">
        <h5>Add wallets</h5>
        <div class="card mb-3">
            <div class="card-header">
                <ng-container *ngIf="!isInUpdateMode">
                    <button disabled class="btn btn-sm btn-default">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    </button>
                    <span> New wallets to track</span>
                </ng-container>
                <ng-container *ngIf="isInUpdateMode">
                    <button disabled class="btn btn-sm btn-default">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </button>
                    <span>Edit wallet</span>
                </ng-container>
            </div>
            <div class="card-body">
                <form role="form">
                    <div class="form-content">
                        <div class="form-group">
                            <label for="currencySelector">Currency</label>
                            <input type="text"
                                   class="form-control"
                                   name="currencyInput"
                                   [(ngModel)]="currencyInput"
                                   disabled
                                   id="currencySelector">
                        </div>
                        <div *ngIf="!isInUpdateMode" class="form-group">
                            <button (click)="toggleAddSingleWalletForm()" class="btn btn-sm mr-1 mb-1" type="button">
                                Add multiple wallets
                                <i class="fa" [class.fa-toggle-on]="isAddingMultipleWallets"
                                   [class.fa-toggle-off]="!isAddingMultipleWallets"></i>
                            </button>
                        </div>
                        <div *ngIf="isAddingMultipleWallets" class="form-group">
                            <label for="walletsCsvInput">Public wallet addresses</label>
                            <textarea class="form-control wallet-address"
                                      [(ngModel)]="walletsCsvInput"
                                      name="walletsCsvInput"
                                      id="walletsCsvInput"
                                      aria-describedby="walletsCsvInputHelp"></textarea>
                            <small id="walletsCsvInputHelp" class="form-text text-muted">
                                One wallet address per line with optional description after coma, e.g. '0x445c9d791b782a7b181194950e0c0ee8c14468f1,savings'
                            </small>
                        </div>
                        <ng-container *ngIf="!isAddingMultipleWallets">
                            <div class="form-group">
                                <label for="walletAddressInput">Public wallet address</label>
                                <input type="text" class="form-control"
                                       [(ngModel)]="walletAddressInput"
                                       id="walletAddressInput"
                                       name="walletAddressInput"
                                       aria-describedby="walletAddressInputHelp">
                                <small id="walletAddressInputHelp" class="form-text text-muted">
                                    e.g. '0x445c9d791b782a7b181194950e0c0ee8c14468f1'
                                </small>
                            </div>
                            <div class="form-group">
                                <label for="walletAddressDescriptionInput">Description</label>
                                <input type="text" class="form-control"
                                       [(ngModel)]="walletAddressDescriptionInput"
                                       id="walletAddressDescriptionInput"
                                       name="walletAddressDescriptionInput"
                                       aria-describedby="walletAddressDescriptionInputHelp">
                                <small id="walletAddressDescriptionInputHelp" class="form-text text-muted">Optional, e.g. 'savings'</small>
                            </div>
                        </ng-container>

                        <div *ngIf="invalidWallets.length > 0" class="form-group">
                            All addresses were added apart from the following, invalid ones:
                            <ul>
                                <li *ngFor="let invalidWallet of invalidWallets">{{invalidWallet}}</li>
                            </ul>
                        </div>
                        <div class="form-group">
                            <button *ngIf="!isInUpdateMode" class="btn btn-success mr-2" (click)="addWallets()" [disabled]="!areAddWalletsInputValid()">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                <span *ngIf="isAddingMultipleWallets"> Add wallets</span>
                                <span *ngIf="!isAddingMultipleWallets"> Add wallet</span>
                            </button>
                            <button *ngIf="isInUpdateMode" class="btn btn-success mr-2" (click)="saveWallet()" [disabled]="!areAddWalletsInputValid()">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                <span> Save wallet</span>
                            </button>
                            <button class="btn btn-default" (click)="goBackToWalletsView()">
                                <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Go back
                            </button>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
