<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label for="minSellPrice">Min sell price</label>
            <input name="minSellPrice"
                   class="form-control"
                   type="text"
                   required
                   pattern="^(?=.*[1-9])\d+(?:\.\d{1,8})?$"
                   [class.is-invalid]="minSellPriceInput.invalid
                                && (minSellPriceInput.dirty
                                || minSellPriceInput.touched
                                || minSellPriceInput.untouched)"
                   [(ngModel)]="strategySpecificParameters.minSellPrice"
                   #minSellPriceInput="ngModel"
                   (input)="onMinSellPrice($event.target)">
            <div class="invalid-feedback">
                Provide valid price, eg. 1.00045 (max 8 decimal places)
            </div>
        </div>
    </div>
</div>
