<div>
    <app-page-header [heading]="'Open orders'" [icon]="'fa-calendar'"></app-page-header>

    <div class="card mb-3 bg-dark">
        <div class="card-header">
            Orders
            <button class="btn btn-info" (click)="loadData()" [disabled]="pending">
                <i class="fa fa-refresh" [class.is-pending]="pending"></i> Refresh orders
            </button>
        </div>
        <table class="card-body table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Exchange</th>
                <th>Order ID</th>
                <th>Currency pair</th>
                <th>Type</th>
                <th>Status</th>
                <th>Amount</th>
                <th>Price</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>

            <ng-container *ngFor="let client of clients">
                <tr>
                    <th colspan="10">
                        {{ client.name }}
                        <span *ngIf="getFailedExchangesForClient(client).length > 0" class="badge badge-warning">
                            There might be more open orders. Failed getting orders for exchanges:
                        </span>
                        <ul *ngIf="getFailedExchangesForClient(client).length > 0">
                            <li *ngFor="let failedExchange of getFailedExchangesForClient(client)">
                                {{ failedExchange }}
                            </li>
                        </ul>
                    </th>
                </tr>

                <tr *ngFor="let order of ordersForClient(client)" [class]="'view-state-'+orderViewState[order.orderId]">

                    <th><input type="checkbox" (change)="onSelectOrder($event.target.checked, order)"></th>
                    <td>{{ order.exchangeName }}</td>
                    <td>{{ order.orderId }}</td>
                    <td>{{ getOrderCurrencyPairSymbol(order) }}</td>
                    <td>{{ order.orderType }}</td>
                    <td>{{ order.orderStatus }}</td>
                    <td>{{ order.orderedAmount }}</td>
                    <td>{{ order.price }}</td>
                    <td>{{ order.timestamp | date: 'y-MM-dd HH:mm:ss' }}</td>
                    <td>
                        <button (click)="cancelOpenOrder(order)" class="btn btn-danger btn-sm"
                                [disabled]="orderViewState[order.orderId] != 'enabled'">
                            Cancel
                        </button>
                    </td>
                </tr>
                <tr *ngIf="ordersForClient(client).length == 0">
                <tr *ngIf="openOrders.length == 0">
                    <td colspan="10">No open orders</td>
                </tr>
            </ng-container>

            </tbody>
        </table>
    </div>
    <button class="btn btn-danger btn-sm" (click)="cancelSelectedOrders()"
            [disabled]="pending || selectedOrders.length == 0">
        <i class="fa fa-trash-o"></i> Cancel selected orders
    </button>
</div>
<app-order-delete #orderDelete></app-order-delete>
