<div [@routerTransition]>
  <app-page-header [heading]="'Settings'" [icon]="'fa-cog'"></app-page-header>
  
  <div class="card mb-3">
    <div class="card-header">Watched coin pairs</div>
    <div class="card-body">
        
      <!-- <div class="form-group has-success">
          <label class="form-control-label">Input with success</label>
          <input type="text" class="form-control form-control-success">
      </div>

      <div class="form-group has-success">
        <label class="form-control-label" for="inputSuccess1">Input with success</label>
        <input type="text" class="form-control form-control-success" id="inputSuccess1">
        <div class="form-control-feedback">Success! You've done it.</div>
        <small class="form-text text-muted">Example help text that remains unchanged.</small>
      </div> -->
    </div>
  </div>
</div>
  