<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="minSellPrice">Min sell price</label>
            <input name="minSellPrice"
                   class="form-control"
                   type="text"
                   required
                   pattern="^\s*(?=.*[1-9])\d*(?:\.\d{1,8})?\s*$"
                   [class.is-invalid]="minSellPriceInput.invalid
                                && (minSellPriceInput.dirty
                                || minSellPriceInput.touched)"
                   [(ngModel)]="strategySpecificParameters.minSellPrice"
                   #minSellPriceInput="ngModel"
                   (input)="onMinSellPrice($event.target)">
            <div class="invalid-feedback">
                Provide valid amount, eg. 1.00045 (max 8 decimal places)
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="growToSellNextRelativePercent">Grow to sell next</label>
            <div class="input-group">
                <input name="growToSellNextRelativePercent" class="form-control"
                       type="text"
                       required
                       pattern="^\s*(?=.*[1-9])\d{1,2}(?:\.\d{1,2})?\s*$"
                       [class.is-invalid]="growToSellNextRelativePercentInput.invalid
                                && (growToSellNextRelativePercentInput.dirty
                                || growToSellNextRelativePercentInput.touched)"
                       [(ngModel)]="strategySpecificParameters.growToSellNextRelativePercent"
                       #growToSellNextRelativePercentInput="ngModel"
                       (input)="onGrowToSellNextRelativePercent($event.target)">
                <div class="input-group-append">
                    <span class="input-group-text">%</span>
                </div>
                <div class="invalid-feedback">
                    Provide valid percent, eg. 2.5 (max 2 decimal places)
                </div>
            </div>
        </div>
    </div>
</div>
