<app-balances-menu></app-balances-menu>
<div class="row">
    <div class="col-12">
        <h5>View balance from many exchanges in one place</h5>
        <h6>Requires API keys</h6>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <button class="btn btn-sm btn-info mr-1 mb-1" (click)="refreshExchangeWallets()"
                [disabled]="pending">
            <i class="fa fa-refresh" [class.is-pending]="pending"></i> Refresh wallets
        </button>
        <button type="button" class="btn btn-sm mr-1 mb-1"
                (click)="toggleBalancesViewType()">
            Show summary per api key group <i class="fa" [class.fa-toggle-on]="showGroupedBalancesPerExchangeUser"
                                              [class.fa-toggle-off]="!showGroupedBalancesPerExchangeUser"></i>
        </button>
        <button (click)="toggleShowUnderOneDollar()" type="button" class="btn btn-sm mr-1 mb-1">
            Show small amounts <i class="fa" [class.fa-toggle-on]="showUnder1Dollar"
                                  [class.fa-toggle-off]="!showUnder1Dollar"></i>
        </button>
        <button (click)="toggleHideBalances()" type="button" class="btn btn-sm mb-1">
            Hide balances <i class="fa" [class.fa-toggle-on]="hideBalances"
                             [class.fa-toggle-off]="!hideBalances"></i>
        </button>
        <div class="text-muted ml-auto mb-1">
            <small>
                Last refresh: {{ (exchangeWalletBalances.refreshTimeMillis | date: 'y-MM-dd HH:mm:ss') || '-' }}
            </small>
        </div>
    </div>
</div>
<ng-container *ngIf="exchangeWalletBalances != null">
    <div *ngIf="totalExchangeWalletBalances != null" class="row">
        <div class="col-12">
            <h5>
            <span class="badge badge-info">
                Total value: <span [class.hide-balances]="hideBalances"><span>${{ totalUsdValue | number : '1.2-2' }}</span></span>
            </span>
            </h5>
            <div class="card mb-3 exchange-user-wallet">
                <div class="card-header">Summary of all exchange wallets</div>
                <div class="card-body">
                    <table class="table table-sm table-hover balance-table">
                        <thead>
                        <tr>
                            <th>Currency</th>
                            <th class="text-right">Total</th>
                            <th class="text-right">USD value <i class="fa fa-sort-amount-desc" aria-hidden="true"></i></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let totalExchangeWalletBalance of getSortedCurrencyTableRows(totalExchangeWalletBalances)">
                            <td>{{ totalExchangeWalletBalance.currencyCode }}</td>
                            <td class="text-right" [class.hide-balances]="hideBalances"><span>{{ totalExchangeWalletBalance.total | number : '1.8-8' }}</span></td>
                            <td *ngIf="totalExchangeWalletBalance.usdValue != null" class="text-right" [class.hide-balances]="hideBalances">
                                <span>${{ totalExchangeWalletBalance.usdValue | number : '1.2-2' || '-' }}</span>
                            </td>
                            <td *ngIf="totalExchangeWalletBalance.usdValue == null" class="text-right text-muted" [class.hide-balances]="hideBalances">
                                <span>N/A</span>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td class="text-right font-weight-bold" [class.hide-balances]="hideBalances">
                                <span>${{ totalUsdValue | number : '1.2' }}</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div *ngFor="let exchangeCurrencyBalance of exchangeWalletBalances.exchangeCurrencyBalances" class="card mb-3 exchange-user-wallet">
                <div class="card-header">
                    <div class="d-flex flex-row mb-2">
                        <h3><i class="fa fa-user"></i> {{ exchangeCurrencyBalance.exchangeUserName }}</h3>
                    </div>
                    <h5 class="badge bg-secondary text-light m-1 p-1">
                        Total:
                        <span [class.hide-balances]="hideBalances">
                        <span>${{ getTotalExchangeUserUsdValue(exchangeCurrencyBalance) | number : '1.2-2' || '-' }}</span>
                    </span>
                    </h5>
                    <h5 class="badge bg-secondary text-light m-1 p-1">
                        {{ exchangeCurrencyBalance.exchangeBalances.length }} exchanges
                    </h5>
                </div>
                <div class="card-body">
                    <ng-container *ngIf="showGroupedBalancesPerExchangeUser">
                        <h4>Summary</h4>
                        <div class="table-responsive mb-3">
                            <table class="table table-sm table-hover balance-table">
                                <thead>
                                <tr>
                                    <th>Currency</th>
                                    <th class="text-right">Available</th>
                                    <th class="text-right">Blocked in orders</th>
                                    <th class="text-right">Total</th>
                                    <th class="text-right">USD value <i class="fa fa-sort-amount-desc" aria-hidden="true"></i></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let currencyBalance of getSortedCurrencyTableRows(getBalancesGroupedByExchangeUser(exchangeCurrencyBalance.exchangeBalances))">
                                    <td>{{ currencyBalance.currencyCode }}</td>
                                    <td class="text-right" [class.hide-balances]="hideBalances"><span>{{ currencyBalance.available | number : '1.8-8' }}</span></td>
                                    <td class="text-right" [class.hide-balances]="hideBalances"><span>{{ currencyBalance.blockedInOrders | number : '1.8-8' }}</span></td>
                                    <td class="text-right" [class.hide-balances]="hideBalances"><span>{{ currencyBalance.total | number : '1.8-8' }}</span></td>
                                    <td class="text-right" [class.hide-balances]="hideBalances">
                                        <span *ngIf="currencyBalance.usdValue != null">${{ currencyBalance.usdValue | number : '1.2-2' || '-' }}</span>
                                        <span *ngIf="currencyBalance.usdValue == null" class="text-muted">N/A</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td class="text-right font-weight-bold" [class.hide-balances]="hideBalances">
                                        <span>${{ getTotalExchangeUserUsdValue(exchangeCurrencyBalance) | number : '1.2-2' || '-' }}</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="!showGroupedBalancesPerExchangeUser">
                        <ng-container *ngFor="let exchangeBalance of exchangeCurrencyBalance.exchangeBalances">
                            <h4>{{ exchangeBalance.exchangeName }}</h4>
                            <span *ngIf="exchangeBalance.errorMessage != null" class="badge badge-warning">
                    {{ exchangeBalance.errorMessage }}
                </span>
                            <span *ngIf="exchangeBalance.currencyBalances.length == 0 && exchangeBalance.errorMessage == null"
                                  class="alert balance-table mt-3">No currencies held</span>
                            <div *ngIf="exchangeBalance.currencyBalances.length > 0 && exchangeBalance.errorMessage == null"
                                 class="table-responsive mb-3">
                                <table class="table table-sm table-hover balance-table">
                                    <thead>
                                    <tr>
                                        <th>Currency</th>
                                        <th class="text-right">Available</th>
                                        <th class="text-right">Blocked in orders</th>
                                        <th class="text-right">Total</th>
                                        <th class="text-right">USD value <i class="fa fa-sort-amount-desc" aria-hidden="true"></i></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let currencyBalance of getSortedBalances(exchangeBalance.currencyBalances)">
                                        <td>{{ currencyBalance.currencyCode }}</td>
                                        <td class="text-right" [class.hide-balances]="hideBalances"><span>{{ currencyBalance.available | number : '1.8-8' }}</span></td>
                                        <td class="text-right" [class.hide-balances]="hideBalances"><span>{{ currencyBalance.blockedInOrders | number : '1.8-8' }}</span></td>
                                        <td class="text-right" [class.hide-balances]="hideBalances"><span>{{ currencyBalance.total | number : '1.8-8' }}</span></td>
                                        <td class="text-right" [class.hide-balances]="hideBalances">
                                            <span *ngIf="currencyBalance.usdValue != null">${{ currencyBalance.usdValue | number : '1.2-2' || '-' }}</span>
                                            <span *ngIf="currencyBalance.usdValue == null" class="text-muted">N/A</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-right font-weight-bold" [class.hide-balances]="hideBalances">
                                            <span>${{ getTotalExchangeUsdValue(exchangeBalance) | number : '1.2' }}</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</ng-container>
