<div>
    <app-page-header [heading]="'Edit exchange user'" [icon]="'fa-user'"
                     [parents]="[ { heading: 'Exchange users', link: '/exchange-users', icon: 'users' } ]"></app-page-header>

    <form (ngSubmit)="onSubmit(createForm)" *ngIf="exchangeUser" #createForm="ngForm">
        <div class="row">
            <div class="col-md-6">
                <fieldset class="form-group">
                    <label>Name</label>
                    <input class="form-control" [(ngModel)]="exchangeUser.name" name="name" required>
                </fieldset>

                <button type="submit" class="btn btn-primary save" [disabled]="createForm.invalid || loading">Save</button>
                <div class="alert alert-primary" role="alert">
                    Some exchanges require enabling API key and confirming by email. Make sure keys you provide are
                    enabled
                </div>
                <div class="alert alert-primary" role="alert">
                    Make sure you use a separate set of API keys just for autocoin, these may not work when used in
                    multiple applications at the same time
                </div>
                <div class="alert alert-primary" role="alert">
                    Keys should have following permissions: read balance, read user transactions, create/cancel buy and
                    sell limit order, get open orders. Add keys without permission for withdrawing from exchange,
                    autocoin does not need them
                </div>
            </div>
            <div class="col-md-6">
                <ngb-accordion [closeOthers]="false">
                    <ngb-panel *ngFor="let exchange of exchanges">
                        <ng-template ngbPanelTitle>
                            {{ exchange.name }}
                            <span class="badge badge-info" *ngIf="isExchangeKeyFilled(exchange)">Filled</span>
                        </ng-template>
                        <ng-template ngbPanelContent>

                            <div ngModelGroup="exchangesKeys" class="exchange-field">
                                <button (click)="deleteExchangeKey(exchange.id)" class="btn btn-danger btn-sm">
                                    Delete
                                </button>

                                <fieldset *ngFor="let exchangeSpecificKeyParameterConfiguration of exchangeSpecificKeyParametersConfiguration.get(exchange.name)" class="form-group"
                                          [ngModelGroup]="exchange.id">
                                    <label>{{ exchangeSpecificKeyParameterConfiguration.displayLabel }}</label>
                                    <input class="form-control" name="{{ 'exchangeSpecific' + exchangeSpecificKeyParameterConfiguration.name }}" ngModel>
                                </fieldset>

                                <fieldset *ngIf="exchange.name === 'bitstamp'" class="form-group"
                                          [ngModelGroup]="exchange.id">
                                    <label>User name</label>
                                    <input class="form-control" name="userName" ngModel>
                                </fieldset>

                                <fieldset class="form-group" [ngModelGroup]="exchange.id">
                                    <label>API Key</label>
                                    <input class="form-control" name="apiKey" ngModel>
                                </fieldset>

                                <fieldset class="form-group" [ngModelGroup]="exchange.id">
                                    <label>Secret Key</label>
                                    <input class="form-control" name="secretKey" ngModel>
                                </fieldset>

                            </div>

                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </div>
        </div>
    </form>
</div>
