<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{ currencySummaryDetails.currency }}</h4>
    </div>
    <div class="modal-body">
        <div class="card mb-1">
            <div class="card-header">
                <h5 [class.text-muted]="currencySummaryDetails.wallets.length == 0">{{ currencySummaryDetails.wallets.length }} wallets</h5>
            </div>
            <div *ngIf="currencySummaryDetails.wallets.length > 0" class="card-body">
                <table class="table table-sm table-hover">
                    <thead>
                    <th>Address</th>
                    <th>Balance</th>
                    <th>USD value</th>
                    </thead>
                    <tbody>
                    <tr *ngFor="let wallet of currencySummaryDetails.wallets">
                        <td class="wallet-address">{{ wallet.walletAddress }}</td>
                        <td>{{ wallet.balance | number : '1.8-8' }}</td>
                        <td>${{ getUsdBalance(wallet) | number : '1.2-2' }}</td>
                    </tr>
                    <tr *ngIf="currencySummaryDetails.wallets.length > 1">
                        <td></td>
                        <td class="font-weight-bold">{{ getTotalBalance(currencySummaryDetails.wallets) | number : '1.8-8' }}</td>
                        <td class="font-weight-bold">${{ getTotalUsdValue(currencySummaryDetails.wallets) | number : '1.2-2' }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card mb-1">
            <div class="card-header">
                <h5 [class.text-muted]="currencySummaryDetails.currencyAssets.length == 0">{{ currencySummaryDetails.currencyAssets.length }} currency assets</h5>
            </div>
            <div *ngIf="currencySummaryDetails.currencyAssets.length > 0" class="card-body">
                <table class="table table-sm table-hover">
                    <thead>
                    <th>Description</th>
                    <th>Balance</th>
                    <th>USD value</th>
                    </thead>
                    <tbody>
                    <tr *ngFor="let currencyAsset of currencySummaryDetails.currencyAssets">
                        <td>{{ currencyAsset.description }}</td>
                        <td>{{ currencyAsset.balance | number : '1.8-8' }}</td>
                        <td>${{ getUsdBalance(currencyAsset) | number : '1.2-2' }}</td>
                    </tr>
                    <tr *ngIf="currencySummaryDetails.currencyAssets.length > 1">
                        <td></td>
                        <td class="font-weight-bold">{{ getTotalBalance(currencySummaryDetails.currencyAssets) | number : '1.8-8' }}</td>
                        <td class="font-weight-bold">${{ getTotalUsdValue(currencySummaryDetails.currencyAssets) | number : '1.2-2' }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h5 [class.text-muted]="currencySummaryDetails.exchanges.length == 0">{{ currencySummaryDetails.exchanges.length }} exchanges</h5>
            </div>
            <div *ngIf="currencySummaryDetails.exchanges.length > 0" class="card-body">
                <table class="table table-sm table-hover">
                    <thead>
                    <th>Exchange</th>
                    <th>Balance</th>
                    <th>USD value</th>
                    </thead>
                    <tbody>
                    <tr *ngFor="let exchange of currencySummaryDetails.exchanges">
                        <td>{{ exchange.exchangeName }}</td>
                        <td>{{ exchange.balance | number : '1.8-8' }}</td>
                        <td>${{ getUsdBalance(exchange) | number : '1.2-2' }}</td>
                    </tr>
                    <tr *ngIf="currencySummaryDetails.exchanges.length > 1">
                        <td></td>
                        <td class="font-weight-bold">{{ getTotalBalance(currencySummaryDetails.exchanges) | number : '1.8-8' }}</td>
                        <td class="font-weight-bold">${{ getTotalUsdValue(currencySummaryDetails.exchanges) | number : '1.2-2' }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="c('close')">Close</button>
    </div>
</ng-template>
