<app-balances-menu></app-balances-menu>
<div #hideWalletMenuLayer (click)="hideWalletMenuIfAnyOpen(hideWalletMenuLayer)" class="d-none layer-for-hiding-add-wallet-menu"></div>
<div class="row">
    <div class="col-12">
        <h5>Track wallet balances automatically</h5>
        <div class="card mb-3">
            <div (click)="goToAddNewWalletView()" class="card-header wallet-add-header">
                <button class="btn btn-primary btn-sm">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </button>
                New wallets to track
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header">
                <div *ngIf="isFetchCurrencyBalancesRequestPending" class="progress mb-2">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                         style="width: 100%;"></div>
                </div>
                <i class="fa fa-usd" aria-hidden="true"></i>
                Summary of all your wallets
            </div>
            <div class="card-body">
                <h6 *ngIf="currencyBalances.length ==0">No wallets added yet</h6>
                <div *ngIf="currencyBalances.length > 0" class="table-responsive">
                    <table class="table table-striped table-sm table-hover">
                        <thead>
                        <tr>
                            <th>Currency</th>
                            <th>Total</th>
                            <th class="text-right">% of value</th>
                            <th class="text-right">USD price</th>
                            <th class="text-right">USD value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let currencyBalance of currencyBalances">
                            <th scope="row">
                                {{currencyBalance.currency}}
                            </th>
                            <td>
                                {{currencyBalance.balance }}
                            </td>
                            <td class="text-right">
                                <span>{{ getUsdValuePercent(currencyBalance) | number : '1.2-2' || '-' }}%</span>
                            </td>
                            <td class="text-right">
                                <span *ngIf="currencyBalance.usdPrice != null; else displayNotAvailable">
                                    {{currencyBalance.usdPrice | number : '1.2-2'}}
                                </span>
                                <ng-template #displayNotAvailable>
                                    <span class="text-muted">N/A</span>
                                </ng-template>
                            </td>
                            <td class="text-right">
                                <span *ngIf="currencyBalance.usdBalance != null; else displayNotAvailable">
                                    {{currencyBalance.usdBalance | number : '1.2-2'}}
                                </span>
                                <ng-template #displayNotAvailable>
                                    <span class="text-muted">N/A</span>
                                </ng-template>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="font-weight-bold text-right">{{ getTotalUsdBalance(currencyBalances) | number : '1.2-2' || '-' }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <div *ngIf="isFetchWalletsRequestPending" class="progress mb-2">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                         style="width: 100%;"></div>
                </div>
                <button (click)="refreshWalletsBalance()" class="btn btn-primary btn-sm" [disabled]="isFetchWalletsRequestPending">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                </button>
                Your wallets
            </div>
            <div class="card-body">
                <h6 *ngIf="wallets.length ==0">No wallets added yet</h6>
                <div *ngIf="wallets.length > 0" class="table-responsive">
                    <table class="table table-striped table-sm table-hover">
                        <thead>
                        <tr>
                            <th>Action</th>
                            <th>Currency</th>
                            <th>Wallet</th>
                            <th class="d-none d-md-table-cell">Description</th>
                            <th>Balance</th>
                            <th class="text-right d-none d-sm-table-cell">USD value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let wallet of wallets">
                            <td>
                                <div style="position: relative">
                                    <button (click)="toggleWalletMenuVisibility(menu, hideWalletMenuLayer)" class="btn btn-sm btn-primary">
                                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                    </button>
                                    <div #menu class="dropdown-menu" [attr.wallet-address]="wallet.walletAddress">
                                        <button (click)="editWallet(wallet)" class="ml-2 mr-2 btn btn-sm btn-success">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </button>
                                        <button
                                            (click)="confirmRemoveWallet(hideWalletMenuLayer, yesNoConfirmation, wallet)"
                                            class="btn btn-sm btn-danger">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <th scope="row">
                                {{wallet.currency}}
                            </th>
                            <td>
                                <span *ngIf="wallet.blockChainExplorerUrl == null" class="wallet-address">
                                    {{wallet.walletAddress}}
                                </span>

                                <span *ngIf="wallet.blockChainExplorerUrl != null" class="wallet-address">
                                    <a target="_blank" href="{{wallet.blockChainExplorerUrl}}">{{wallet.walletAddress}}</a>
                                </span>
                            </td>
                            <td class="d-none d-md-table-cell">
                                <span *ngIf="wallet.description != null" [innerHTML]="wallet.description | linkify"></span>
                                <span *ngIf="wallet.description == null" class="text-muted">N/A</span>
                            </td>
                            <td>
                                {{wallet.balance}}
                            </td>
                            <td class="text-right d-none d-sm-table-cell">
                                <span *ngIf="wallet.usdBalance != null; else displayNotAvailable">{{wallet.usdBalance | number : '1.2-2'}}</span>
                                <ng-template #displayNotAvailable>
                                    <span class="text-muted">N/A</span>
                                </ng-template>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<app-text-dialog #yesNoConfirmation></app-text-dialog>
