<h2 class="text-light">Hello. >><a href="https://t.me/joinchat/DQ56VEbfV3uIQlrJphtLbw" target="_blank">Join the
    community
    on telegram group</a><< so you can get answers quickly.
    <small></small>
</h2>
Autocoin allows you to
<ul>
    <li>
        <a routerLink="/arbitrage-monitor">View the arbitrage opportunities</a>
        <p>That works straight away, you don't have to provide API keys for your exchange accounts</p>
    </li>
    <li>
        <a routerLink="/wallets">View exchange balances</a>
        <p>That needs exchange API keys provided</p>
    </li>

</ul>
