<div>
    <app-page-header [heading]="'Arbitrage monitor'" [icon]="'fa-calendar'"></app-page-header>
    <div class="row">
        <div class="col-12">
            Does not require API keys
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-10 col-xl-8">
        <div class="card text-white bg-warning m-2">
            <div class="card-header">
                <div class="flex-row">
                    <div *ngIf="hasArbitrageSubscriptionActive()" class="d-block">
                        You're using Pro plan
                    </div>
                    <div *ngIf="!hasArbitrageSubscriptionActive()" class="d-block">
                        You're using Free plan. To join Pro plan, ping @mikolaj grzaslewicz on autocoin <a href="https://t.me/joinchat/DQ56VEbfV3uIQlrJphtLbw" target="_blank">telegram group</a> or send an email to mikolaj.grzaslewicz@gmail.com
                    </div>
                </div>
            </div>
            <div class="card-body pt-0 pb-0" [@myAnimation]="slide">
                <div class="pt-3 pb-3">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Feature</th>
                            <th scope="col">Free</th>
                            <th scope="col">Pro</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>Include trading fee into calculations</th>
                            <th><i class="fa fa-times" aria-hidden="true"></i></th>
                            <th><i class="fa fa-check-square" aria-hidden="true"></i></th>
                        </tr>
                        <tr>
                            <th>Include withdrawal fee into calculations</th>
                            <th><i class="fa fa-times" aria-hidden="true"></i></th>
                            <th><i class="fa fa-check-square" aria-hidden="true"></i></th>
                        </tr>
                        <tr>
                            <th>Do not show currencies that cannot be withdrawn</th>
                            <th><i class="fa fa-times" aria-hidden="true"></i></th>
                            <th><i class="fa fa-check-square" aria-hidden="true"></i></th>
                        </tr>
                        <tr>
                            <th></th>
                            <th>Might show opportunities that after including fees generate loss</th>
                            <th>More reliable</th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div (click)="toggleSubscriptionPlanDetailsVisibility()" class="card-footer toggle-details-visibility">
        <span>
                <i *ngIf="showSubscriptionPlanDetails" class="fa fa-angle-double-up"></i>
                <i *ngIf="!showSubscriptionPlanDetails" class="fa fa-angle-double-down"></i>
                Show benefits of Pro plan
        </span>
            </div>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-12">
            <span>
                Selected {{selectedExchanges.length}} of {{exchangeNamesSupportedForGettingPublicMarketData.length}} exchanges
                 <button [class.invisible]="selectedExchanges.length === exchangeNamesSupportedForGettingPublicMarketData.length" class="btn btn-sm btn-light"
                         (click)="clearExchangesBlackList()">select all</button>
            </span>
            <ng-select
                class="select-currencies mt-1 mb-1"
                [items]="exchangeNamesSupportedForGettingPublicMarketData"
                [virtualScroll]="true"
                [multiple]="true"
                (add)="removeExchangeFromBlackList($event)"
                (remove)="addExchangeToBlackList($event)"
                (clear)="addAllExchangesToBlackList()"
                bindLabel="exchange"
                bindValue="exchange"
                placeholder="Select exchanges"
                [(ngModel)]="selectedExchanges">
                <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                    <div class="ng-value" *ngFor="let exchange of items | slice:0:3">
                        <span class="ng-value-label">{{exchange}}</span>
                        <span class="ng-value-icon right" (click)="clear(exchange)" aria-hidden="true">×</span>
                    </div>
                    <div class="ng-value" *ngIf="items.length > 3">
                        <span class="ng-value-label">{{items.length - 3}} more...</span>
                    </div>
                </ng-template>
            </ng-select>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="input-group">
                <button (click)="toggleMinUsd24hVolumeFilter()"
                        class="btn btn-sm mr-1 mb-1" type="button" title="Volume traded daily at the exchange, sum of buy and sell orders value. Using exchanges with low volume means greater risk to not have order filled quickly">
                    Hide exchanges with volume less than $
                    <i class="fa" [class.fa-toggle-on]="isFilteringByMin24hVolume()"
                       [class.fa-toggle-off]="!isFilteringByMin24hVolume()"></i>
                    <i class="fa fa-question" aria-hidden="true"></i>
                </button>
                <input [(ngModel)]="commonFilter.min24hUsdVolume"
                       (input)="saveCommonFilter()"
                       type="text" class="form-control minw-30">
            </div>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-12">
            I want to use up to:
            <div>
                <nav class="nav nav-pills pb-1">
                    <li *ngFor="let orderBookUsdAmountThresholdIndex of orderBookUsdAmountThresholdsIndexes"
                        class="nav-item btn-sm p-1">
                        <a (click)="setOrderBookUsdAmountThreshold(orderBookUsdAmountThresholdIndex)"
                           class="nav-link p-1"
                           [class.active]="isOrderBookAmountThresholdSelected(orderBookUsdAmountThresholdIndex)">
                            ${{orderBookUsdAmountThresholds[orderBookUsdAmountThresholdIndex]}}
                        </a>
                    </li>
                </nav>
            </div>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-6">
            <span>
                Selected {{selectedBaseCurrenciesMonitored.length}} of {{baseCurrenciesMonitored.length}} base currencies:
            <button [class.invisible]="selectedBaseCurrenciesMonitored.length === baseCurrenciesMonitored.length" class="btn btn-sm btn-light"
                    (click)="clearBaseCurrenciesBlackList()">select all</button>
            </span>
            <ng-select
                class="select-currencies mt-1"
                [items]="baseCurrenciesMonitored"
                [virtualScroll]="true"
                [multiple]="true"
                (add)="removeBaseCurrencyFromBlackList($event)"
                (remove)="addBaseCurrencyToBlackList($event)"
                (clear)="addAllBaseCurrenciesToBlackList()"
                bindLabel="currency"
                bindValue="currency"
                placeholder="Select base currencies"
                [(ngModel)]="selectedBaseCurrenciesMonitored">
                <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                    <div class="ng-value" *ngFor="let currency of items | slice:0:2">
                        <span class="ng-value-label">{{currency}}</span>
                        <span class="ng-value-icon right" (click)="clear(currency)" aria-hidden="true">×</span>
                    </div>
                    <div class="ng-value" *ngIf="items.length > 2">
                        <span class="ng-value-label">{{items.length - 2}} more...</span>
                    </div>
                </ng-template>
            </ng-select>
        </div>
        <div class="col-6">
            <span>
                Selected {{selectedCounterCurrenciesMonitored.length}} of {{counterCurrenciesMonitored.length}} counter currencies:
                            <button [class.invisible]="selectedCounterCurrenciesMonitored.length === counterCurrenciesMonitored.length" class="btn btn-sm btn-light"
                                    (click)="clearCounterCurrenciesBlackList()">select all</button>
            </span>
            <ng-select
                class="select-currencies mt-1"
                [items]="counterCurrenciesMonitored"
                [virtualScroll]="true"
                [multiple]="true"
                (add)="removeCounterCurrencyFromBlackList($event)"
                (remove)="addCounterCurrencyToBlackList($event)"
                (clear)="addAllCounterCurrenciesToBlackList()"
                bindLabel="currency"
                bindValue="currency"
                placeholder="Select counter currencies"
                [(ngModel)]="selectedCounterCurrenciesMonitored">
                <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                    <div class="ng-value" *ngFor="let currency of items | slice:0:2">
                        <span class="ng-value-label">{{currency}}</span>
                        <span class="ng-value-icon right" (click)="clear(currency)" aria-hidden="true">×</span>
                    </div>
                    <div class="ng-value" *ngIf="items.length > 2">
                        <span class="ng-value-label">{{items.length - 2}} more...</span>
                    </div>
                </ng-template>
            </ng-select>
        </div>
    </div>

    <div class="row mt-1">
        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3">
            <div class="input-group">
                <button (click)="toggleLiveOpportunitiesMinFilter()" class="btn btn-sm mr-1 mb-1" type="button">
                    Min profit %
                    <i class="fa" [class.fa-toggle-on]="isFilteringOpportunitiesByMinRelativePercent()"
                       [class.fa-toggle-off]="!isFilteringOpportunitiesByMinRelativePercent()"></i>
                </button>
                <input [(ngModel)]="liveOpportunitiesFilter.minRelativePercentFilterValue"
                       (input)="saveLiveOpportunitiesFilter()"
                       type="text"
                       class="form-control minw-30"
                       [disabled]="!isFilteringOpportunitiesByMinRelativePercent()">
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3">
            <div class="input-group">
                <button (click)="toggleLiveOpportunitiesMaxFilter()" class="btn btn-sm mr-1 mb-1" type="button">
                    Max profit %
                    <i class="fa" [class.fa-toggle-on]="isFilteringOpportunitiesByMaxRelativePercent()"
                       [class.fa-toggle-off]="!isFilteringOpportunitiesByMaxRelativePercent()"></i>
                </button>
                <input [(ngModel)]="liveOpportunitiesFilter.maxRelativePercentFilterValue"
                       (input)="saveLiveOpportunitiesFilter()"
                       type="text" class="form-control minw-30"
                       [disabled]="!isFilteringOpportunitiesByMaxRelativePercent()">
            </div>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-xl-3 col-lg-5 col-md-6 col-sm-12 col-xs-12">
            <div class="input-group">
                <button (click)="toggleLiveOpportunitiesAutoRefresh()" class="btn btn-sm mr-1 mb-1" type="button">
                    Auto refresh seconds (min 10)
                    <i class="fa" [class.fa-toggle-on]="isAutoRefreshingLiveOpportunities()"
                       [class.fa-toggle-off]="!isAutoRefreshingLiveOpportunities()"></i>
                </button>
                <input [(ngModel)]="liveOpportunitiesFilter.autoRefreshSeconds"
                       (input)="onAutoRefreshChange()"
                       type="text"
                       class="form-control minw-30"
                       [disabled]="!isAutoRefreshingLiveOpportunities()">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button class="btn btn-info btn-sm mr-1 mt-1 mb-1" (click)="fetchLiveOpportunities()"
                    [disabled]="isLoadingLiveOpportunities">
                <i class="fa fa-refresh" [class.is-pending]="isLoadingLiveOpportunities"></i> Refresh arbitrage
                opportunities
            </button>
            <div class="text-muted ml-auto mb-1">
                <small>
                    Last refresh: {{ (getLastRefreshTime() | date: 'y-MM-dd HH:mm:ss') || '-' }}
                </small>
            </div>
        </div>
        <div *ngIf="!isLoadingLiveOpportunities && twoLegArbitrageProfitOpportunities.length === 0"
             class="col-12">
            <span class="badge badge-warning">No arbitrage opportunities found, refresh to check again</span>
        </div>
    </div>

    <div class="row">
        <app-two-leg-arbitrage-opportunities-table
            [profitOpportunities]="filterOpportunities(twoLegArbitrageProfitOpportunities)"
            [totalNumberOfUnfilteredOpportunities]="getTotalNumberOfOpportunities(twoLegArbitrageProfitOpportunities)"
            [orderBookAmountThresholdIndexSelected]="commonFilter.orderBookAmountThresholdIndexSelected"
        ></app-two-leg-arbitrage-opportunities-table>
    </div>

</div>
