<div>
    <app-page-header [heading]="'Arbitrage monitor'" [icon]="'fa-calendar'"></app-page-header>
    <div class="row">
        <div class="col-12">
            Does not require API keys
        </div>
    </div>
    <div *ngIf="isIncludingProPlanOpportunities != null" class="row">
        <div class="col-12">
            <div class="card text-white bg-warning mt-2 mb-2">
                <div class="card-header">
                    <div class="flex-row">
                        <div *ngIf="isIncludingProPlanOpportunities === true" class="d-block">
                            You're using Pro plan which shows full details for opportunities above {{freePlanProfitPercentCutOff}}%
                        </div>
                        <div *ngIf="isIncludingProPlanOpportunities === false" class="d-block">
                            You're using Free plan. You're going to see all available opportunities, but full details for opportunities above {{freePlanProfitPercentCutOff}}% are
                            not shown
                            <ul>
                                <li>
                                    To join Pro plan, ping @mikolaj grzaslewicz on autocoin
                                    <a href="https://t.me/joinchat/DQ56VEbfV3uIQlrJphtLbw" target="_blank">telegram group</a>
                                    or send an email to mikolaj.grzaslewicz@gmail.com
                                </li>
                                <li>
                                    What's the pricing?
                                    <button
                                        (click)="textDialog.showWithoutHeader('Currently Pro plan is 10 USDT/month. You can make a decision up to 7 days after payment - to stay with Pro plan or have a refund and stay with Free one.')"
                                        class="btn btn-sm btn-info">
                                        <i class="fa fa-question" aria-hidden="true"></i>
                                    </button>
                                </li>
                                <li>
                                    Honestly, what to expect from using arbitrage opportunities?
                                    <button
                                        (click)="textDialog.showWithoutHeader('You can earn some money from time to time. There are people on telegram group that have earned hundreds of dollars per opportunity. But that happens rarely. Don\'t expect to make a living out of doing the arbitrage')"
                                        class="btn btn-sm btn-info">
                                        <i class="fa fa-question" aria-hidden="true"></i>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Exchanges</h5>
                    <div>
                        <div>
            <span>
                Selected {{selectedBuySideExchanges.length}} of {{exchangesSupportedForMonitoring.length}} buy exchanges
                 <button [class.invisible]="selectedBuySideExchanges.length === exchangesSupportedForMonitoring.length" class="btn btn-sm btn-light"
                         (click)="clearExchangesBuySideBlackList()">select all</button>
            </span>
                            <ng-select
                                class="select-currencies mt-1 mb-1"
                                [items]="exchangesSupportedForMonitoring"
                                [virtualScroll]="true"
                                [multiple]="true"
                                (add)="removeExchangeBuySideFromBlackList($event)"
                                (remove)="addExchangeBuySideToBlackList($event)"
                                (clear)="addAllExchangesBuySideToBlackList()"
                                bindLabel="exchange"
                                bindValue="exchange"
                                placeholder="Select exchanges"
                                [(ngModel)]="selectedBuySideExchanges">
                                <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                    <div class="ng-value" *ngFor="let exchange of items | slice:0:3">
                                        <span class="ng-value-label">{{exchange}}</span>
                                        <span class="ng-value-icon right" (click)="clear(exchange)" aria-hidden="true">×</span>
                                    </div>
                                    <div class="ng-value" *ngIf="items.length > 3">
                                        <span class="ng-value-label">{{items.length - 3}} more...</span>
                                    </div>
                                </ng-template>
                            </ng-select>
                        </div>
                        <div>
            <span>
                Selected {{selectedSellSideExchanges.length}} of {{exchangesSupportedForMonitoring.length}} sell exchanges
                 <button [class.invisible]="selectedSellSideExchanges.length === exchangesSupportedForMonitoring.length" class="btn btn-sm btn-light"
                         (click)="clearExchangesSellSideBlackList()">select all</button>
            </span>
                            <ng-select
                                class="select-currencies mt-1 mb-1"
                                [items]="exchangesSupportedForMonitoring"
                                [virtualScroll]="true"
                                [multiple]="true"
                                (add)="removeExchangeSellSideFromBlackList($event)"
                                (remove)="addExchangeSellSideToBlackList($event)"
                                (clear)="addAllExchangesSellSideToBlackList()"
                                bindLabel="exchange"
                                bindValue="exchange"
                                placeholder="Select exchanges"
                                [(ngModel)]="selectedSellSideExchanges">
                                <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                    <div class="ng-value" *ngFor="let exchange of items | slice:0:3">
                                        <span class="ng-value-label">{{exchange}}</span>
                                        <span class="ng-value-icon right" (click)="clear(exchange)" aria-hidden="true">×</span>
                                    </div>
                                    <div class="ng-value" *ngIf="items.length > 3">
                                        <span class="ng-value-label">{{items.length - 3}} more...</span>
                                    </div>
                                </ng-template>
                            </ng-select>
                        </div>
                        <div>
                            <div class="input-group">
                                <button (click)="toggleMinUsd24hVolumeFilter()" class="btn btn-sm mr-1 mb-1" type="button">
                                    Hide exchanges with volume less than $
                                    <i class="fa" [class.fa-toggle-on]="isFilteringByMin24hVolume()"
                                       [class.fa-toggle-off]="!isFilteringByMin24hVolume()"></i>
                                </button>
                                <button
                                    (click)="textDialog.showWithoutHeader('What\'s the volume and how it\'s calculated? It\'s sum of buy and sell orders traded daily at the exchange. Using exchanges with low volume means greater risk to not have order filled quickly. Some exchanges might not have volume available - in such case those won\'t be filtered out')"
                                    class="btn btn-sm btn-info mr-1 mb-1">
                                    <i class="fa fa-question" aria-hidden="true"></i>
                                </button>
                                <input [(ngModel)]="opportunitiesFilter.min24hUsdVolume"
                                       (input)="saveOpportunitiesFilter()"
                                       type="text" class="form-control minw-60">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Currencies</h5>
                    <div>
                          <span>
                Selected {{selectedBaseCurrenciesMonitored.length}} of {{baseCurrenciesMonitored.length}} base currencies:
            <button [class.invisible]="selectedBaseCurrenciesMonitored.length === baseCurrenciesMonitored.length" class="btn btn-sm btn-light"
                    (click)="clearBaseCurrenciesBlackList()">select all</button>
            </span>
                        <ng-select
                            class="select-currencies mt-1"
                            [items]="baseCurrenciesMonitored"
                            [virtualScroll]="true"
                            [multiple]="true"
                            (add)="removeBaseCurrencyFromBlackList($event)"
                            (remove)="addBaseCurrencyToBlackList($event)"
                            (clear)="addAllBaseCurrenciesToBlackList()"
                            bindLabel="currency"
                            bindValue="currency"
                            placeholder="Select base currencies"
                            [(ngModel)]="selectedBaseCurrenciesMonitored">
                            <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                <div class="ng-value" *ngFor="let currency of items | slice:0:2">
                                    <span class="ng-value-label">{{currency}}</span>
                                    <span class="ng-value-icon right" (click)="clear(currency)" aria-hidden="true">×</span>
                                </div>
                                <div class="ng-value" *ngIf="items.length > 2">
                                    <span class="ng-value-label">{{items.length - 2}} more...</span>
                                </div>
                            </ng-template>
                        </ng-select>
                    </div>
                    <div>
                        <span>
                Selected {{selectedCounterCurrenciesMonitored.length}} of {{counterCurrenciesMonitored.length}} counter currencies:
                            <button [class.invisible]="selectedCounterCurrenciesMonitored.length === counterCurrenciesMonitored.length" class="btn btn-sm btn-light"
                                    (click)="clearCounterCurrenciesBlackList()">select all</button>
            </span>
                        <ng-select
                            class="select-currencies mt-1"
                            [items]="counterCurrenciesMonitored"
                            [virtualScroll]="true"
                            [multiple]="true"
                            (add)="removeCounterCurrencyFromBlackList($event)"
                            (remove)="addCounterCurrencyToBlackList($event)"
                            (clear)="addAllCounterCurrenciesToBlackList()"
                            bindLabel="currency"
                            bindValue="currency"
                            placeholder="Select counter currencies"
                            [(ngModel)]="selectedCounterCurrenciesMonitored">
                            <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                <div class="ng-value" *ngFor="let currency of items | slice:0:2">
                                    <span class="ng-value-label">{{currency}}</span>
                                    <span class="ng-value-icon right" (click)="clear(currency)" aria-hidden="true">×</span>
                                </div>
                                <div class="ng-value" *ngIf="items.length > 2">
                                    <span class="ng-value-label">{{items.length - 2}} more...</span>
                                </div>
                            </ng-template>
                        </ng-select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Fees & transfer status</h5>
                    Include opportunities with
                    <div class="input-group">
                        <button (click)="toggleShowUnknownWithdrawalStatusFilter()" class="btn btn-sm mr-1 mb-1" type="button">
                            Unknown withdrawal status
                            <i class="fa" [class.fa-toggle-on]="isFilteringOutOpportunitiesWithUnknownWithdrawalStatus()"
                               [class.fa-toggle-off]="!isFilteringOutOpportunitiesWithUnknownWithdrawalStatus()"></i>
                        </button>
                        <button (click)="toggleShowUnknownDepositStatusFilter()" class="btn btn-sm mr-1 mb-1" type="button">
                            Unknown deposit status
                            <i class="fa" [class.fa-toggle-on]="isFilteringOutOpportunitiesWithUnknownDepositStatus()"
                               [class.fa-toggle-off]="!isFilteringOutOpportunitiesWithUnknownDepositStatus()"></i>
                        </button>
                        <button (click)="toggleShowNotAvailableTransferFeeFilter()" class="btn btn-sm mr-1 mb-1" type="button">
                            Not available transfer fee
                            <i class="fa" [class.fa-toggle-on]="isFilteringOutOpportunitiesWithNotAvailableTransferFee()"
                               [class.fa-toggle-off]="!isFilteringOutOpportunitiesWithNotAvailableTransferFee()"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Opportunities</h5>
                    <div class="mb-1">
                        I want to use up to:
                        <div ngbDropdown class="d-inline-block">
                            <button type="button" class="btn btn-primary btn-sm" id="dropdownBasic1" ngbDropdownToggle>
                                ${{getSelectedOrderBookUsdAmountThreshold()}}
                            </button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <button ngbDropdownItem *ngFor="let orderBookUsdAmountThresholdIndex of orderBookUsdAmountThresholdsIndexes"
                                        (click)="setOrderBookUsdAmountThreshold(orderBookUsdAmountThresholdIndex)"
                                        class="btn btn-sm">
                                    ${{orderBookUsdAmountThresholds[orderBookUsdAmountThresholdIndex]}}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="input-group">
                        <button (click)="toggleLiveOpportunitiesMinFilter()" class="btn btn-sm mr-1 mb-1" type="button">
                            Min profit %
                            <i class="fa" [class.fa-toggle-on]="isFilteringOpportunitiesByMinRelativePercent()"
                               [class.fa-toggle-off]="!isFilteringOpportunitiesByMinRelativePercent()"></i>
                        </button>
                        <input [(ngModel)]="opportunitiesFilter.minRelativePercentFilterValue"
                               (input)="saveOpportunitiesFilter()"
                               type="text"
                               class="form-control minw-30"
                               [disabled]="!isFilteringOpportunitiesByMinRelativePercent()">
                    </div>
                    <div class="input-group">
                        <button (click)="toggleLiveOpportunitiesMaxFilter()" class="btn btn-sm mr-1 mb-1" type="button">
                            Max profit %
                            <i class="fa" [class.fa-toggle-on]="isFilteringOpportunitiesByMaxRelativePercent()"
                               [class.fa-toggle-off]="!isFilteringOpportunitiesByMaxRelativePercent()"></i>
                        </button>
                        <input [(ngModel)]="opportunitiesFilter.maxRelativePercentFilterValue"
                               (input)="saveOpportunitiesFilter()"
                               type="text" class="form-control minw-30"
                               [disabled]="!isFilteringOpportunitiesByMaxRelativePercent()">
                    </div>
                    <div class="input-group">
                        <button (click)="resetFilters()" class="btn btn-sm btn-primary">Reset filters</button>
                    </div>
                    <div>
                        <div class="text-muted ml-auto">
                            <small>
                                Last refresh: {{ (getLastRefreshTime() | date: 'HH:mm:ss') || '-' }} (refreshed every 5s)
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="row">
        <div *ngIf="twoLegArbitrageProfitOpportunities.length === 0" class="col-12 mt-1">
            <span class="badge badge-warning">Please wait, no arbitrage opportunities found at the moment</span>
        </div>
    </div>
    <app-two-leg-arbitrage-opportunities-table
        [profitOpportunities]="filterOpportunities(twoLegArbitrageProfitOpportunities)"
        [totalNumberOfUnfilteredOpportunities]="getTotalNumberOfOpportunities(twoLegArbitrageProfitOpportunities)"
        [orderBookAmountThresholdIndexSelected]="opportunitiesFilter.orderBookAmountThresholdIndexSelected"
        [defaultTransactionFeePercent]="defaultTransactionFeePercent"
    ></app-two-leg-arbitrage-opportunities-table>
</div>
<app-text-dialog #textDialog></app-text-dialog>
