.layer-for-hiding-add-wallet-menu {
    z-index: 999; // 1 less than dropdown-menu
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
}

.collapsable-header {
    cursor: pointer;
}

.user-currency-asset-dropdown-menu-visible {
    display: inline-flex;
    left: 2rem;
    top: -0.5rem;
}
