<div>
  <app-page-header [heading]="'Create client'" [icon]="'fa-user'" [parents]="[ { heading: 'Clients', link: '/clients', icon: 'users' } ]"></app-page-header>

  <form (ngSubmit)="onSubmit(createForm)" *ngIf="client" #createForm="ngForm">
      <div class="row">
          <div class="col-md-6">
              <fieldset class="form-group">
                  <label>Name</label>
                  <input class="form-control" [(ngModel)]="client.name" name="name" required>
              </fieldset>

              <button type="submit" class="btn btn-primary" [disabled]="createForm.invalid || loading">Save</button>
          </div>
          <div class="col-md-6">
              <ngb-accordion [closeOthers]="false">
                  <ngb-panel *ngFor="let exchange of exchanges">
                      <ng-template ngbPanelTitle>
                        {{ exchange.name }}
                        <span class="badge badge-info" *ngIf="isExchangeKeyFilled(exchange)">Filled</span>
                      </ng-template>
                      <ng-template ngbPanelContent>

                        <div ngModelGroup="exchangesKeys">

                            <fieldset class="form-group" [ngModelGroup]="exchange.id">
                                <label>API Key</label>
                                <input class="form-control" name="apiKey" ngModel>
                            </fieldset>

                            <fieldset class="form-group" [ngModelGroup]="exchange.id">
                                <label>Secret Key</label>
                                <input class="form-control" name="secretKey" ngModel>
                            </fieldset>

                        </div>

                      </ng-template>
                  </ngb-panel>
              </ngb-accordion>
          </div>
      </div>
  </form>
</div>
