<app-page-header [heading]="'Add trading strategy'" [icon]="'fa-magic'"></app-page-header>
<div class="alert alert-primary">
    <a href="http://bit.ly/2VmVCAw" target="_blank">Take a look at how strategies work</a>
</div>
<div *ngIf="creatingStrategiesInProgress || finishedCreatingStrategies">
    <div *ngFor="let strategyCreatedFor of strategiesCreatedFor" class="alert alert-success">
        Finished creating strategy for {{ strategyCreatedFor }}
    </div>
    <div *ngFor="let strategyNotCreatedFor of strategiesNotCreatedFor" class="alert alert-danger">
        Failed creating strategy for {{ strategyNotCreatedFor }}
    </div>
    <div *ngIf="!finishedCreatingStrategies" class="alert alert-warning">
        <i class="fa fa-refresh is-pending"></i>
        Creating strategies in progress
    </div>
    <div *ngIf="finishedCreatingStrategies">
        <a [routerLink]="'/trading-automation'" class="btn btn-success">
            Go back
        </a>
    </div>

</div>
<form #addStrategyExecutionForm="ngForm" *ngIf="!creatingStrategiesInProgress && !finishedCreatingStrategies">

    <div class="row">
        <div class="col-md-6">


            <div class="form-group">
                <label>Exchange name</label>

                <div class="form-control">
                    <strong>{{ exchangeName }}</strong>
                </div>
            </div>

            <div class="form-group">
                <label>Strategy</label>

                <select class="form-control" name="selectedStrategy" [(ngModel)]="selectedStrategyName">
                    <option *ngFor="let strategy of strategies" [value]="strategy.name">{{ strategy.name }}</option>
                </select>
            </div>

            <div class="form-group">
                <label *ngIf="isBuying()" for="currency-pair-typeahead">Currency pair (eg XRP/BTC if you want to buy XRP
                    and have less BTC)</label>
                <label *ngIf="isSelling()" for="currency-pair-typeahead">Currency pair (eg XRP/BTC if you want to sell
                    XRP and have more BTC)</label>
                <input name="currencyPair"
                       id="currency-pair-typeahead" type="text"
                       class="form-control"
                       [class.is-invalid]="addStrategyExecutionForm.controls.currencyPair && addStrategyExecutionForm.controls.currencyPair.invalid && addStrategyExecutionForm.controls.currencyPair.touched"
                       required validateCurrencyPairSymbol
                       [(ngModel)]="currencyPair"
                       (input)="$event.target.value = $event.target.value.toUpperCase()">
                <div class="invalid-feedback">Provide valid currency pair</div>
            </div>

            <div class="row">
                <div *ngIf="isBuying()" class="col-6">
                    <div class="form-group">
                        <label for="counterCurrencyPercentForBuying">Buy limit (max {{counterCurrency()}} % to
                            sell)</label>
                        <div class="input-group">
                            <input name="counterCurrencyPercentForBuying" type="number" class="form-control"
                                   min="0.1"
                                   max="100" [value]="counterCurrencyFractionForBuying * 100"
                                   (input)="onCounterCurrencyPercentForBuying($event.target)">
                            <div class="input-group-append">
                                <span class="input-group-text">%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="isSelling()" class="col-6">
                    <div class="form-group">
                        <label for="baseCurrencyPercentForSelling">Max {{baseCurrency()}} % to sell</label>
                        <div class="input-group">
                            <input name="baseCurrencyPercentForSelling" type="number" class="form-control" min="0.1"
                                   max="100" [value]="baseCurrencyFractionForSelling * 100"
                                   (input)="onBaseCurrencyPercentForSelling($event.target)">
                            <div class="input-group-append">
                                <span class="input-group-text">%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="isBuying()" class="col-6">
                    <div class="form-group">
                        <label for="maxCounterCurrencyPercentForBuying">Buy per order %</label>
                        <div class="input-group">
                            <input name="maxCounterCurrencyPercentForBuying" type="number" class="form-control"
                                   min="0.1"
                                   max="100" [value]="maxCounterCurrencyPercentForBuying"
                                   (input)="onMaxCounterCurrencyPercentForBuying($event.target)">
                            <div class="input-group-append">
                                <span class="input-group-text">%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="isSelling()" class="col-6">
                    <div class="form-group">
                        <label for="maxBaseCurrencyPercentForSelling">Sell per order %</label>
                        <div class="input-group">
                            <input name="maxCounterCurrencyPercentForBuying" type="number" class="form-control"
                                   min="0.1"
                                   max="100" [value]="maxBaseCurrencyPercentForSelling"
                                   (input)="onMaxBaseCurrencyPercentForSelling($event.target)">
                            <div class="input-group-append">
                                <span class="input-group-text">%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <app-buy-lower-and-lower-specific-parameters
                *ngIf="selectedStrategyName == 'BuyLowerAndLower'"
                (specificParametersChanged)="onSpecificParameters($event)">
            </app-buy-lower-and-lower-specific-parameters>
            <app-sell-higher-and-higher-specific-parameters
                *ngIf="selectedStrategyName == 'SellHigherAndHigher'"
                (specificParametersChanged)="onSpecificParameters($event)">
            </app-sell-higher-and-higher-specific-parameters>
            <app-sell-when-second-currency-grows-specific-parameters
                *ngIf="selectedStrategyName == 'SellWhenSecondCurrencyGrows'"
                (specificParametersChanged)="onSpecificParameters($event)">
            </app-sell-when-second-currency-grows-specific-parameters>
            <app-sell-now-parameters
                *ngIf="selectedStrategyName == 'SellNow'"
                (specificParametersChanged)="onSpecificParameters($event)">
            </app-sell-now-parameters>
            <app-buy-now-parameters
                *ngIf="selectedStrategyName == 'BuyNow'"
                (specificParametersChanged)="onSpecificParameters($event)">
            </app-buy-now-parameters>
        </div>

    </div>
    <div class="row">
        <div *ngIf="exchangeUserSelectionList.length > 1" class="col-md-6">

            <div class="form-group">
                <label>Select users</label>

                <div class="checkbox" *ngFor="let exchangeUserSelection of exchangeUserSelectionList">
                    <label>
                        <input type="checkbox" name="selectedExchangeUsers" [value]="true"
                               [(ngModel)]="exchangeUserSelection.checked"> {{ exchangeUserSelection.exchangeUser.name }}
                    </label>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button type="submit" class="btn btn-primary add-strategy-execution"
                    (click)="showConfirmModal()"
                    [disabled]="!canMakeStrategyExecution()">
                Add strategy
            </button>
            <a [routerLink]="'/trading-automation'" class="btn btn-secondary">
                Cancel
            </a>
        </div>
    </div>
</form>

<ng-template #confirmContent let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Confirm adding new trading strategy</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>
            Are you sure you want to add new trading strategy?
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="c('delete')">Yes</button>
        <button type="button" class="btn btn-secondary" (click)="d('Dismiss')">Dismiss</button>
    </div>
</ng-template>
