<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-5 col-xl-4">
            <div *ngIf="!isShowingThankYou">
                <h1>Try it for free. Just leave your email and tell me what you need</h1>
                <form id="signupForm" ngForm role="form" (ngSubmit)="onSubmit(signupForm)" #signupForm="ngForm">
                    <div class="form-content">
                        <div class="form-group">
                            <label for="email" class="form-label">Email address</label>
                            <input [(ngModel)]="email"
                                   name="email"
                                   required
                                   autofocus
                                   id="email"
                                   tabindex="0"
                                   type="text"
                                   class="form-control input"
                                   [class.is-invalid]="isEmailInvalid"
                                   (input)="onEmailInput()">
                            <div class="invalid-feedback">
                                Provide valid email
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="question1" class="form-label">
                                What would the perfect cryptocurrency site do for you?
                            </label>
                            <input [(ngModel)]="questionOne"
                                   name="questionOne"
                                   required
                                   id="question1"
                                   type="text"
                                   class="form-control input"
                                   placeholder="answer"
                                   [class.is-invalid]="isQuestionOneInvalid"
                                   (input)="onQuestionOneInput()">
                            <div class="invalid-feedback">
                                Provide an answer
                            </div>
                        </div>
                        <div class="form-group d-none">
                            <label for="question2" class="form-label">
                                Functionality related to cryptocurrencies you need is..?
                            </label>
                            <input id="question2"
                                   type="text"
                                   class="form-control input">
                        </div>
                    </div>
                    <button type="submit" [disabled]="isSubmitInProgress"
                            class="btn register rounded-btn">
                        Sign up for free
                    </button>
                </form>

            </div>
            <div *ngIf="isShowingThankYou">
                <h1>Thank you</h1>
                Please check your email, you should get message with first time login password soon. If you can't find the email, check the spam folder
            </div>
        </div>
    </div>
</div>
<form id="googleForm" class="d-none"
      action="https://docs.google.com/forms/d/e/1FAIpQLSdG_NLD8CTQT6uTQ9OWBXelMxzGsE0Mod9BrOEB67tkfoLf6w/formResponse"
      style="display: none;" method="POST"
      target="googleFormIframe">
    <input id="googleFormEmailAddress" type="hidden" name="emailAddress">
    <input id="googleFormQ1" type="hidden" name="entry.907240285">
    <!-- what would you like to automate most -->
    <input id="googleFormQ2" type="hidden" name="entry.1397752312"> <!-- questions? -->
</form>
<form id="autoresponderForm" class="d-none"
      action="https://sr24app.pl/form.php?form=151"
      style="display: none;" method="post"
      target="autoresponderFormIframe">
    <input id="autoresponderEmailAddress" type="hidden" name="email">
    <input type="hidden" name="format" value="h"/>
</form>
<iframe #iframe width="0" height="0" border="none"
        class="d-none"
        id="googleFormIframe"
        name="googleFormIframe"></iframe>
<iframe width="0" height="0" border="none"
        class="d-none"
        id="autoresponderFormIframe"
        name="autoresponderFormIframe"></iframe>
