<div class="row">
    <div class="col-12">
        <h2>Binance</h2>
        <div class="form-group">
            <label>Binance API key</label>
            <input class="form-control" [(ngModel)]="binanceApiKey" name="binanceApiKey" required>
            <label>Binance API secret</label>
            <input class="form-control" [(ngModel)]="binanceSecretKey" name="binanceSecretKey" type="password"
                   required>
        </div>
        <button (click)="saveBinanceKeysToLocalStorage()" class="btn btn-success btn-sm">Save</button>
    </div>
</div>
<div class="row" *ngIf="!currencyPairsFetchFinished">
    <div class="col-12">
        Loading binance currency pairs...
    </div>
</div>
<div class="row" *ngIf="currencyPairsFetchFinished">
    <div class="col-12">
        <h3>Create market order</h3>
        <div class="form-group">
            <label>Currency pair</label>
            <ng-select
                [items]="binanceCurrencyPairs"
                [virtualScroll]="true"
                bindLabel="symbol"
                bindValue="symbol"
                [(ngModel)]="selectedBinanceCurrencyPairString"
                (change)="onChange($event)">
                >
            </ng-select>
            <label>{{selectedBinanceCounterCurrencyString}} amount</label>
            <input
                [(ngModel)]="binanceAmountOfCounterCurrencyToUse"
                #buyPriceInput="ngModel"
                [class.is-invalid]="buyPriceInput.invalid
                                && (buyPriceInput.dirty
                                || buyPriceInput.touched
                                || buyPriceInput.untouched)"
                name="binanceAmountOfCounterCurrencyToUse"
                pattern="^(?=.*[1-9])\d+(?:\.\d{1,8})?$"
                class="form-control"
                required>
            <div class="invalid-feedback">
                Provide valid {{selectedBinanceCounterCurrencyString}} amount, eg. 1.00045 (max 8 decimal places)
            </div>
        </div>
        <button *ngIf="selectedBinanceCurrencyPair != null" (click)="makeBinanceBuyMarketOrder()"
                class="btn btn-success btn-sm">
            Buy {{selectedBinanceBaseCurrencyString}}</button>
    </div>
</div>
