<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}
        </a>

        <a routerLink="/clients" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-users"></i>&nbsp;{{ 'Clients' | translate }}
        </a>

        <a routerLink="/wallets" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-money"></i>&nbsp;{{ 'Wallets' | translate }}
        </a>

        <a routerLink="/automation" [routerLinkActive]="['router-link-active']" class="list-group-item" class="d-none">
            <i class="fa fa-fw fa-magic"></i>&nbsp;{{ 'Automation' | translate }}
        </a>

        <a routerLink="/orders" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-calendar"></i>&nbsp;{{ 'Open orders' | translate }}
        </a>

        <a routerLink="/settings" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-cog"></i>&nbsp;{{ 'Settings' | translate }}
        </a>


    </div>
</nav>
