<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}
        </a>

        <a routerLink="/api-keys" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-key"></i>&nbsp;{{ 'API keys' | translate }}
        </a>

        <a routerLink="/wallets" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-money"></i>&nbsp;{{ 'Wallets' | translate }}
        </a>

        <a routerLink="/arbitrage-monitor" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-binoculars"></i>&nbsp;{{ 'Arbitrage monitor' | translate }}
        </a>

        <a routerLink="/health" [routerLinkActive]="['router-link-active']" class="list-group-item" *ngIf="isHealthTabAvailable">
            <i class="fa fa-fw fa-heartbeat"></i>&nbsp;{{ 'Health' | translate }}
        </a>

        <a routerLink="/settings" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-cog"></i>&nbsp;{{ 'Settings' | translate }}
        </a>

    </div>
</nav>
