<div class="row">
    <div class="col-12">
        <div class="btn-group mb-1" role="group">
            <button type="button" class="btn btn-outline-secondary">Wallets (not available yet)</button>
            <button type="button" class="btn btn-outline-secondary">Coins (not available yet)</button>
            <button type="button" class="btn btn-primary">Exchanges</button>
            <button type="button" class="btn btn-outline-secondary">Summary (not available yet)</button>
        </div>
    </div>
</div>
<app-exchange-wallets></app-exchange-wallets>
