<div class="row">
    <div class="col-12">
        <div class="btn-group mb-1" role="group">
            <button (click)="selectView(walletsView)"
                    type="button"
                    [class.btn-primary]="selectedView == walletsView"
                    [class.btn-outline-secondary]="selectedView != walletsView"
                    class="btn">
                Wallets
            </button>
            <button (click)="selectView(currenciesView)"
                    type="button"
                    disabled
                    [class.btn-primary]="selectedView == currenciesView"
                    [class.btn-outline-secondary]="selectedView != currenciesView"
                    class="btn">
                Currencies (not available yet)
            </button>
            <button (click)="selectView(exchangesView)"
                    type="button"
                    [class.btn-primary]="selectedView == exchangesView"
                    [class.btn-outline-secondary]="selectedView != exchangesView"
                    class="btn">
                Exchanges
            </button>
            <button (click)="selectView(summaryView)"
                    type="button"
                    disabled
                    [class.btn-primary]="selectedView == summaryView"
                    [class.btn-outline-secondary]="selectedView != summaryView"
                    class="btn">
                Summary (not available yet)
            </button>
        </div>
    </div>
</div>
<app-exchange-balance *ngIf="selectedView == exchangesView"></app-exchange-balance>
<app-blockchain-wallet-balance *ngIf="selectedView == walletsView"></app-blockchain-wallet-balance>
