<app-page-header [heading]="'API keys'" [icon]="'fa-users'"></app-page-header>

<div class="card mb-3">
    <div class="card-header">API keys can be grouped (e.g. 'john', 'test')
    </div>
    <div *ngIf="!isLoading && exchangeUsers.length == 0" class="alert alert-primary">
        Start with adding your first API key group, eg your name. Then assign API keys for each
        exchange
    </div>
    <div class="card-body">
        <a routerLink="/api-keys/create" class="btn btn-info">Add group <i class="fa fa-user-plus"></i></a>
    </div>
</div>

<div *ngFor="let exchangeUser of exchangeUsers" class="row">
    <div class="col-12">
        <div class="card mb-3">
            <div class="card-header">
                <div class="flex-row">
                    <div class="d-block"><i class="fa fa-user"></i> {{ exchangeUser.name }}</div>
                </div>
            </div>
            <div class="card-body pt-0 pb-0">
                <div class="pt-3 pb-3">
                           <span class="badge" *ngFor="let exchange of getExchangesOfExchangeUser(exchangeUser)"
                                 [class.badge-light]="isNotCheckedIfApiKeyIsWorking(exchangeUser, exchange)"
                                 [class.badge-danger]="isApiKeyNotWorking(exchangeUser, exchange)"
                                 [class.badge-success]="isApiKeyWorking(exchangeUser, exchange)">
                        {{ exchange.name }}
                </span>
                </div>
            </div>
            <div class="card-footer actions">
                <button [routerLink]="['/api-keys/edit', exchangeUser.id]" class="btn btn-default btn-sm">Edit <i
                    class="fa fa-user"></i> <i class="fa fa-key"></i>
                </button>
                <button (click)="exchangeUserDelete.deleteExchangeUserWithConfirmation(exchangeUser)"
                        class="btn btn-danger btn-sm">Delete <i class="fa fa-user"></i> <i class="fa fa-key"></i>
                </button>
                <button (click)="fetchExchangeUserKeysCapability(exchangeUser)"
                        [disabled]="isFetchingKeysCapability(exchangeUser)"
                        class="btn btn-sm">Check <i class="fa fa-key"></i></button>
            </div>
        </div>
    </div>
</div>

<app-exchange-user-delete #exchangeUserDelete (refresh)="loadData()"></app-exchange-user-delete>
