<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
      <h4 class="modal-title">Delete user confirmation</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
      <p>
        You're about to deleting the user: <strong>{{ user.userName }}</strong><br>
        Proceed?
      </p>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="c('delete')">Yes. I am sure.</button>
      <button type="button" class="btn btn-secondary" (click)="d('Dismiss')">Dismiss</button>
  </div>
</ng-template>