<div class="card text-white bg-{{getTileBackgroundColorBasedOnHealth()}} m-2">
    <div class="card-header">
        <div class="flex-row">
            <div class="d-block">
                <i class="fa fa-heartbeat"></i> {{exchangeHealth.exchangeName}}
                <button
                    *ngIf="exchangeHealth.warningsAndErrors && exchangeHealth.warningsAndErrors.length > 0"
                    (click)="showWarnings()"
                    class="btn btn-warning btn-sm">
                    <span class="badge">{{exchangeHealth.warningsAndErrors.length}} warnings/errors</span>
                </button>
                <span *ngIf="exchangeHealth.comments.length > 0" class="badge">{{exchangeHealth.comments.length}} comments</span>
            </div>
        </div>
    </div>
    <div class="card-body pt-0 pb-0" [@myAnimation]="slide">
        <div class="pt-3 pb-3">
            Capabilities
            <ul>
                <li *ngFor="let capability of exchangeHealth.capabilities">
                    {{capability.name}}: {{capability.value === null ? 'Unknown' : capability.value}}
                </li>
            </ul>
            <div *ngIf="exchangeHealth.comments.length > 0">
                Comments
                <ul>
                    <li *ngFor="let comment of exchangeHealth.comments">{{comment}}</li>
                </ul>
            </div>
            <div>Last check: {{exchangeHealth.timestamp | date: 'y-MM-dd HH:mm:ss' }}</div>
        </div>
    </div>
    <div (click)="toggleDetailsVisibility()" class="card-footer toggle-details-visibility">
        <span>
                <i *ngIf="showDetails" class="fa fa-angle-double-up"></i>
                <i *ngIf="!showDetails" class="fa fa-angle-double-down"></i>
                Details
        </span>
    </div>
</div>
