<app-page-header [heading]="'Automation'" [icon]="'fa-magic'"></app-page-header>
<div class="alert alert-primary">
    Currently supported exchanges for automation: {{ supportedExchanges.join() }}
</div>
<div class="card mb-3" *ngFor="let exchange of exchanges">
    <div class="card-header">
        <div class="row justify-content-between align-items-center px-2">
            <span>{{ exchange.name }}</span>
            <a *ngIf="isSupported(exchange.name)" [routerLink]="['/automation/make-strategy-execution', exchange.name]" class="btn btn-success">
                Add strategy
            </a>
            <button *ngIf="!isSupported(exchange.name)" class="btn btn-secondary" disabled>
                Add strategy
            </button>
        </div>
    </div>
    <table *ngIf="getStrategiesExecutionsByExchangeName(exchange.name).length > 0"
           class="card-body table table-hover">
        <thead>
        <tr>
            <th>User</th>
            <th>Strategy name</th>
            <th>Currency pair</th>
            <th>Parameters</th>
            <th>Created orders</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let strategyExecution of getStrategiesExecutionsByExchangeName(exchange.name)">
            <td>{{ getClientNameById(strategyExecution.clientId) }}</td>
            <td>{{ strategyExecution.strategyName }}</td>
            <td>{{ strategyExecution.baseCurrencyCode }}/{{ strategyExecution.counterCurrencyCode }}</td>
            <td >{{ strategyExecution.strategyParameters | json }}</td>
            <td *ngIf="strategyExecution.orders.length > 0">{{ strategyExecution.orders | json }}</td>
            <td *ngIf="strategyExecution.orders.length == 0">-</td>
            <td>
                <button (click)="deleteStrategyExecution(strategyExecution)" class="btn btn-danger">
                    Delete strategy
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
