<app-page-header [heading]="'Automation'" [icon]="'fa-magic'"></app-page-header>

<div class="card mb-3" *ngFor="let exchange of exchanges">
    <div class="card-header">
        <div class="row justify-content-between align-items-center px-2">
            <span>{{ exchange.name }}</span>

            <a [routerLink]="['/automation/make-strategy-execution', exchange.name]" class="btn btn-success">Add stretegy execution order</a>
        </div>
    </div>
    <table class="card-body table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let strategyExecution of getStrategiesExecutionsByExchangeName(exchange.name)">
                <td>{{ strategyExecution | json }}</td>
                <td>
                    <button (click)="deleteStrategyExecution(strategyExecution)" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        

        </tbody>
    </table>
</div>