<div class="col-12">
    <div>
        Showing {{profitOpportunities.length}} of {{totalNumberOfUnfilteredOpportunities}} opportunities
    </div>
    <div>
        <span class="badge badge-warning">Before making a transfer make sure the same symbols at 2 different exchanges means the same and withdrawing is not blocked</span>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">Profit <i class="fa fa-arrow-down" aria-hidden="true"></i></th>
                <th scope="col">Currency pair</th>
                <th scope="col">Buy at</th>
                <th scope="col">price <i class="fa fa-arrow-right" aria-hidden="true"></i></th>
                <th scope="col">Sell at</th>
                <th scope="col">price</th>
                <th scope="col">
                    <span class="badge bg-success text-light mr-1">available</span>
                    <span class="badge bg-danger text-light">not available</span>
                    <div>fees in calculation</div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let profitOpportunity of profitOpportunities">
                <th scope="row">
                    {{profitOpportunity.arbitrageProfitHistogram[orderBookAmountThresholdIndexSelected].relativeProfitPercent}}
                    %
                </th>
                <td>
                    {{profitOpportunity.baseCurrency}}/{{profitOpportunity.counterCurrency}}
                </td>
                <td>
                    <div *ngIf="hasBuyAtLink(profitOpportunity)">
                        <a [href]="getBuyAtLink(profitOpportunity)" target="_blank">
                            {{profitOpportunity.arbitrageProfitHistogram[orderBookAmountThresholdIndexSelected].buyAtExchange}}
                        </a>
                    </div>
                    <div *ngIf="!hasBuyAtLink(profitOpportunity)">
                        {{profitOpportunity.arbitrageProfitHistogram[orderBookAmountThresholdIndexSelected].buyAtExchange}}
                    </div>
                    <div>
                        Amount {{profitOpportunity.arbitrageProfitHistogram[orderBookAmountThresholdIndexSelected].buyAmount}}
                    </div>
                    <div>
                        Volume ${{getVolumeAtBuyExchange(profitOpportunity)}}
                    </div>
                </td>
                <td>
                    <div class="empty-invisible-line" aria-hidden="true">
                        empty invisible line
                    </div>
                    <div>
                        {{profitOpportunity.arbitrageProfitHistogram[orderBookAmountThresholdIndexSelected].buyPrice}}
                    </div>
                </td>
                <td>
                    <div *ngIf="profitOpportunity.arbitrageProfitHistogram[orderBookAmountThresholdIndexSelected].areDetailsHidden">
                        <div class="empty-invisible-line" aria-hidden="true">
                            empty invisible line
                        </div>
                        Full details available in Pro version
                    </div>
                    <div *ngIf="!profitOpportunity.arbitrageProfitHistogram[orderBookAmountThresholdIndexSelected].areDetailsHidden">
                        <div *ngIf="hasSellAtLink(profitOpportunity)">
                            <a [href]="getSellAtLink(profitOpportunity)" target="_blank">
                                {{profitOpportunity.arbitrageProfitHistogram[orderBookAmountThresholdIndexSelected].sellAtExchange}}
                            </a>
                        </div>
                        <div *ngIf="!hasSellAtLink(profitOpportunity)">
                            {{profitOpportunity.arbitrageProfitHistogram[orderBookAmountThresholdIndexSelected].sellAtExchange}}
                        </div>
                        <div>
                            Amount {{profitOpportunity.arbitrageProfitHistogram[orderBookAmountThresholdIndexSelected].sellAmount}}
                        </div>
                        <div>
                            Volume ${{getVolumeAtSellExchange(profitOpportunity)}}
                        </div>
                    </div>
                </td>
                <td>
                    <div class="empty-invisible-line" aria-hidden="true">
                        empty invisible line
                    </div>
                    <div>
                        {{profitOpportunity.arbitrageProfitHistogram[orderBookAmountThresholdIndexSelected].sellPrice}}
                    </div>
                </td>
                <td>

                    <div class="empty-invisible-line" aria-hidden="true">
                        empty invisible line
                    </div>
                        <span
                            [className]="profitOpportunity.arbitrageProfitHistogram[orderBookAmountThresholdIndexSelected].fees.buyFee != null ? 'badge bg-success text-light mr-1' : 'badge bg-danger text-light mr-1'">
                            buy
                        </span>
                    <span
                        [className]="profitOpportunity.arbitrageProfitHistogram[orderBookAmountThresholdIndexSelected].fees.withdrawalFee != null ? 'badge bg-success text-light mr-1' : 'badge bg-danger text-light mr-1'">
                        withdraw
                    </span>
                    <span
                        [className]="profitOpportunity.arbitrageProfitHistogram[orderBookAmountThresholdIndexSelected].fees.sellFee != null ? 'badge bg-success text-light' : 'badge bg-danger text-light'">
                        sell
                    </span>
                    <div class="empty-invisible-line" aria-hidden="true">
                        empty invisible line
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
