<app-page-header [heading]="'Users & API keys'" [icon]="'fa-users'"></app-page-header>

<div class="card mb-3 bg-dark">
    <div class="card-header">API key of each exchange user which allow you to group the keys</div>
    <div *ngIf="!isLoading && exchangeUsers.length == 0" class="alert alert-primary">
        Start with adding your first exchange user for grouping API keys, eg your name. Then assign API keys for each
        exchange
    </div>
    <table class="card-body table">
        <thead>
        <tr>
            <th>User name</th>
            <th>API keys</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let exchangeUser of exchangeUsers">
            <td>
                {{ exchangeUser.name }}
            </td>
            <td>
                  <span class="badge" *ngFor="let exchangeName of getExchangesNamesOfExchangeUser(exchangeUser)"
                        [class.badge-danger]="isApiKeyNotWorking(exchangeUser, exchangeName)">
                        {{ exchangeName }}
                </span>
            </td>
            <td>
                <button [routerLink]="['/exchange-users/edit', exchangeUser.id]" class="btn btn-success btn-sm">Edit
                </button>
                <button (click)="exchangeUserDelete.deleteExchangeUserWithConfirmation(exchangeUser)"
                        class="btn btn-danger btn-sm">Delete user & keys
                </button>
            </td>
        </tr>

        </tbody>
    </table>
</div>

<a routerLink="/exchange-users/create" class="btn btn-info">Add user</a>

<app-exchange-user-delete #exchangeUserDelete (refresh)="loadData()"></app-exchange-user-delete>
