<div class="card text-white bg-success m-2">
    <div class="card-header">
        <span class="badge badge-light mr-1">
            <i class="fa fa-exchange mr-1"></i>
            {{twoLegArbitrageProfitOpportunity.baseCurrency}}/{{twoLegArbitrageProfitOpportunity.counterCurrency}}
        </span>
        <span class="badge badge-light mr-1">
            {{twoLegArbitrageProfitOpportunity.arbitrageProfitHistogram[orderBookAmountThresholdIndexSelected].relativeProfitPercent}}
            %
        </span>
        <span class="badge badge-light mr-1">
            {{twoLegArbitrageProfitOpportunity.firstExchange}}
        </span>
        <span class="badge badge-light">
            {{twoLegArbitrageProfitOpportunity.secondExchange}}
        </span>
    </div>
    <div class="card-body pt-0 pb-0" [@myAnimation]="slide">
        <div *ngIf="showDetails" class="pt-3 pb-3">
            <div class="row">
                <div class="col-6">
                    {{twoLegArbitrageProfitOpportunity.arbitrageProfitHistogram[orderBookAmountThresholdIndexSelected].sellPrice}}
                    <div *ngIf="sellAtLink != null">
                        <a [href]="sellAtLink | safeUrl" target="_blank">
                            Sell at {{twoLegArbitrageProfitOpportunity.firstExchange}}
                        </a>
                    </div>
                    <div *ngIf="sellAtLink == null">
                        Sell at {{twoLegArbitrageProfitOpportunity.firstExchange}}
                    </div>
                    <div>24h volume ${{twoLegArbitrageProfitOpportunity.usd24hVolumeAtFirstExchange}}</div>
                </div>
                <div class="col-6">
                    {{twoLegArbitrageProfitOpportunity.arbitrageProfitHistogram[orderBookAmountThresholdIndexSelected].buyPrice}}
                    <div *ngIf="buyAtLink != null">
                        <a [href]="buyAtLink | safeUrl" target="_blank">
                            Buy at {{twoLegArbitrageProfitOpportunity.secondExchange}}
                        </a>
                    </div>
                    <div *ngIf="buyAtLink == null">
                        Buy at {{twoLegArbitrageProfitOpportunity.secondExchange}}
                    </div>
                    <div>24h volume ${{twoLegArbitrageProfitOpportunity.usd24hVolumeAtSecondExchange}}</div>
                </div>
            </div>
        </div>
    </div>
    <div (click)="toggleDetailsVisibility()"
         class="card-footer toggle-details-visibility">
        <span>
                <i *ngIf="showDetails" class="fa fa-angle-double-up"></i>
                <i *ngIf="!showDetails" class="fa fa-angle-double-down"></i>
                Details
        </span>
    </div>
</div>
