<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="pricesTriggeringSale">Prices of second currency pair triggering sales, eg 4500, 5000.5</label>
            <input name="pricesTriggeringSale" class="form-control"
                   pattern ="/^[0-9 _ ,]*$/"
                   (input)="onPricesTriggeringSale($event.target)"
                   required>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="maxBuyPrice">Min sell price</label>
            <input name="maxBuyPrice" type="number" class="form-control" value="0.0" (input)="onMinSellPrice($event.target)"
                   required>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="secondCurrencyPairToWatch">Second currency pair to watch, eg BTC/USDT</label>
            <div class="input-group">
                <input name="secondCurrencyPairToWatch" class="form-control" type="text" pattern="[A-Z]+/[A-Z]+"
                       (input)="onSecondCurrencyPairToWatch($event.target)">
                <div class="input-group-append">
                    <span class="input-group-text">$</span>
                </div>
            </div>
        </div>
    </div>
</div>
