<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label for="secondCurrencyExchangeName">Second currency exchange</label>
            <select class="form-control"
                    name="secondCurrencyExchangeName"
                    (change)="onSecondCurrencyExchangeName($event.target)">
                <option *ngFor="let exchangeName of exchangeNamesSupportedForTrading"
                        [selected]="exchangeName === defaultSecondCurrencyExchangeName">
                    {{exchangeName}}
                </option>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label for="secondCurrencyPairToWatch">Second currency pair to watch, eg. BTC/USDT</label>
            <div class="input-group">
                <input name="secondCurrencyPairToWatch"
                       class="form-control"
                       type="text"
                       required
                       pattern="[a-zA-Z]+/[a-zA-Z]+"
                       [class.is-invalid]="secondCurrencyPairToWatchInput.invalid
                                && (secondCurrencyPairToWatchInput.dirty
                                || secondCurrencyPairToWatchInput.touched
                                || secondCurrencyPairToWatchInput.untouched)"
                       [(ngModel)]="strategySpecificParameters.secondCurrencyPairToWatch"
                       #secondCurrencyPairToWatchInput="ngModel"
                       (input)="$event.target.value = $event.target.value.toUpperCase(); onSecondCurrencyPairToWatch($event.target)">
                <div class="invalid-feedback">
                    Provide valid second currency pair to watch, eg. BTC/USDT
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label for="pricesTriggeringSale">Prices of second currency pair triggering sales, eg. 4500, 5000.5</label>
            <input name="secondCurrencyPricesTriggeringSale"
                   type="text"
                   pattern="^(\d+(\.\d+){0,1})((\ )*,(\ )*(\d+(\.\d+){0,1}))*$"
                   required
                   class="form-control"
                   [class.is-invalid]="secondCurrencyPricesTriggeringSaleInput.invalid
                                && (secondCurrencyPricesTriggeringSaleInput.dirty
                                || secondCurrencyPricesTriggeringSaleInput.touched
                                || secondCurrencyPricesTriggeringSaleInput.untouched)"
                   [(ngModel)]="strategySpecificParameters.secondCurrencyPricesTriggeringSale"
                   #secondCurrencyPricesTriggeringSaleInput="ngModel"
                   (input)="onSecondCurrencyPricesTriggeringSale($event.target)">
            <div class="invalid-feedback">
                Provide valid prices list, eg. 4500, 5000.5, 5050.00067
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label for="minSellPrice">Min sell price</label>
            <input name="maxBuyPrice"
                   class="form-control"
                   type="text"
                   required
                   pattern="^(?=.*[1-9])\d+(?:\.\d{1,8})?$"
                   [class.is-invalid]="minSellPriceInput.invalid
                                && (minSellPriceInput.dirty
                                || minSellPriceInput.touched
                                || minSellPriceInput.untouched)"
                   [(ngModel)]="strategySpecificParameters.minSellPrice"
                   #minSellPriceInput="ngModel"
                   (input)="onMinSellPrice($event.target)">
            <div class="invalid-feedback">
                Provide valid amount, eg. 1.00045 (max 8 decimal places)
            </div>
        </div>
    </div>
</div>
